In [4]:
my_int=6
my_float=6.

In [5]:
print (type(my_int))
print (type(my_float))

<class 'int'>
<class 'float'>

In [6]:
3 + 9

12

## Operators

In [11]:
print (3 + 3.)
print (3 * 9)
print (3 / 9)
print (3 / 3)
##power of something ^ 
print (3 ** 9) 
print (3 ** 2)
#division
print (9 / 2)
print (9 // 2) #full numbers will be given
#remainder
print (11 % 3) #useful when you want to check if number is even

6.0
27
0.3333333333333333
1.0
19683
9
4.5
4
2

In [12]:
4%5

4

In [13]:
6%5

1

In [14]:
print ('even',145676 % 2)
print ('uneven',145677 % 2)

even 0
uneven 1

In [15]:
5.5 % 2

1.5

Declare two int variables of type

Calculate the sum of two int, the difference, the product, the remainder, divide one number by another

In [36]:
my_int_1 = 13
my_int_2 = 3
print (f'sum: {my_int_1 + my_int_2}')
print (f'subtract: {my_int_1 - my_int_2}')
print (f'multiply: {my_int_1 * my_int_2}')
print (f'power of: {my_int_1 ** my_int_2}')
print (f'Divide: {my_int_1 / my_int_2}')
print (f'Modulus: {my_int_1 % my_int_2}')

sum: 16
subtract: 10
multiply: 39
power of: 2197
Divide: 4.333333333333333
Modulus: 1

Declare two float-type variables

In [37]:
my_float_1 = 13.4198498
my_float_2 = 3.14
print (f'sum: {my_float_1 + my_float_2}')
print (f'subtract: {my_float_1 - my_float_2}')
print (f'multiply: {my_float_1 * my_float_2}')
print (f'power of: {my_float_1 ** my_float_2}')
print (f'Divide: {my_float_1 / my_float_2}')
print (f'Modulus: {my_float_1 % my_float_2}')

sum: 16.5598498
subtract: 10.2798498
multiply: 42.138328372000004
power of: 3476.3831555637157
Divide: 4.273837515923566
Modulus: 0.8598497999999992

The distance to the Moon is about
384,000 km, and to the Sun
150,000,000, how many times the
distance to the Sun is greater than
to the Moon?

In [41]:
dist_moon = 384000
dist_sun = 150000000
print (dist_sun/ dist_moon)

390.625

2. If we want to drive to the moon in a
car with a speed of 150km / h, how
many hours, years, months, days,
seconds would it take?

In [42]:
speed = 150
print (f'seconds to the moon {dist_moon/speed*3600}')
print (f'hours to the moon {dist_moon/speed}')
print (f'days to the moon {dist_moon/speed/24}')
print (f'months to the moon {dist_moon/speed/24/30}')
print (f'years to the moon {dist_moon/speed/24/30/12}')

seconds to the moon 9216000.0
hours to the moon 2560.0
days to the moon 106.66666666666667
months to the moon 3.555555555555556
years to the moon 0.29629629629629634

3. How many days have passed since your birthday?

In [33]:
import datetime #name of the library

print (datetime.datetime.now()) #datetime date and time included 
my_birthday=datetime.date(1995,6,26) 
datetime.datetime.now().date() - my_birthday #timedelta is difference

2021-11-16 11:00:51.136937

datetime.timedelta(days=9640)

In [34]:
delta = datetime.timedelta(seconds=dist_moon/speed*3600)
print (f'We would reach the moon on {datetime.datetime.now() + delta}')

We would reach the moon on 2022-03-03 03:00:54.032354

In [32]:
from datetime import datetime
from datetime import timedelta
from datetime import date

## Boolean

In [45]:
my_bool = 1 > 2
print (my_bool)
print (type(my_bool))

False
<class 'bool'>

In [47]:
my_bool_2 = True #capital letter important!!
my_bool_3 = False
is_even = my_int % 2 == 0
print (my_int)
print (f'my_int is even {is_even}')

6
my_int is even True

## Comparison operators

In [48]:
print (f'equal to operator ==: { 1 == 1} ')
print (f'equal to operator ==: { 1 == 10} ')
print (f'not equal to operator !=: { 1 != 1} ')
print (f'not equal to operator !=: { 1 != 10} ')
print (f'more to operator >: { 15 > 10} ')
print (f'more to operator >=: { 10 >= 10} ')
print (f'more to operator <: { 1 < 10} ')
print (f'more to operator <=: { 10 <= 10} ')

equal to operator ==: True
equal to operator ==: False
not equal to operator !=: False
not equal to operator !=: True
more to operator >: True
more to operator >=: True
more to operator <: True
more to operator <=: True

In [50]:
# True and true
10 > 2 and 2 < 5

True

In [52]:
# True and false
10 > 2 and 10 < 5

False

In [53]:
# True or true (if either is true)
10 > 2 or 10 < 5

True

In [55]:
# False or false
10 > 20 or 10 < 5

False

In [56]:
True and 10 > 5 and 10 % 2 == 0 or False
#<----True----> and <--True---> or
#<-- True ------------ True---> or
# go from left to right. and - on both sides

True

In [57]:
True and 10 > 5 and 11 % 2 == 0 or False
#<----True----> and <--False--> or
#<-------- False--------------> or False

False

In [58]:
True and 10 > 5 and 11 % 2 == 0 or 1 > 2 #False
#<----True----> and <--False--> or
#<-------- False--------------> or False

False

In [62]:
#change type to boolean
print (bool('Some text' ) )
print (bool('') )
print (bool(' ') )
# if there is any value it will be true - otherwise false

True
False
True

In [64]:
print (bool(5) )
print (bool(0) )
print (bool(1) )
print (bool(-1) )
print (bool(-38746358) )

True
False
True
True
True

In [67]:
print (bool(5.0) )
print (bool(0.0) )
print (bool(0.5) )
print (bool(0.00000000005) )

True
False
True
True

In [70]:
print (5 > 2)
print (not 5 > 2)

True
False

In [73]:
not_even = not 10 % 2 ==0
print (not_even)
not_even_2 = 10 % 2 !=0
print (not_even_2)

False
False

In [75]:
sum = 0
sum = sum + 5 #5
sum = sum + 10 #15
sum = sum - 3 #12
print (sum)

#same as 
sum = 0
sum += 5
sum += 10
sum -= 3
print (sum)

12
12

In [76]:
multiply = 1
multiply *= 10
multiply *= 10
multiply *= 10
print (multiply)

1000

## Membership operator

In [81]:
text = 'Hello world'
'world' in text #if world exist in my text
print ('world' in text) #case sensitive, space sensitive
print ('World' in text)
print ('world ' in text)
print ('Ruta' not in text)

True
False
False
True

## Bolean tasks HOMEWORK

In [82]:
#############################

## LISTS

In [83]:
my_list = [1, 5, 10, 15]

In [90]:
print ('lenght: ',len(my_list))
print ('1st: ',my_list[0])
print ('slice: ',my_list[2:])

lenght:  4
1st:  1
slice:  [10, 15]

In [91]:
my_list_2 = [1, 1, 2, 2, 'Ruta', 'Vilnius', True, 1>10]
print (my_list_2)

[1, 1, 2, 2, 'Ruta', 'Vilnius', True, False]

In [100]:
my_list_3 = [1, 5, 1, 14984, 10, 15, 54]
print (my_list_3)
my_list_3.sort() #asc order
#print (my_list_3.sort()) # doesnt work. don't print it
print (my_list_3)
print (my_list_3[::-1])
print (my_list_3)
my_list_3.sort(reverse=True)
print (my_list_3)

[1, 5, 1, 14984, 10, 15, 54]
[1, 1, 5, 10, 15, 54, 14984]
[14984, 54, 15, 10, 5, 1, 1]
[1, 1, 5, 10, 15, 54, 14984]
[14984, 54, 15, 10, 5, 1, 1]

In [1]:
my_list_4 = [ 1, 5, 1, ['New list inside', "Vilnius"], 10, 15, 54 ]
print (my_list_4)
print (my_list_4[3])

[1, 5, 1, ['New list inside', 'Vilnius'], 10, 15, 54]
['New list inside', 'Vilnius']

In [ ]:
## lesson 2021-11-18

In [2]:
print (my_list_4)
my_list_4[1] = 100
print (my_list_4)

[1, 5, 1, ['New list inside', 'Vilnius'], 10, 15, 54]
[1, 100, 1, ['New list inside', 'Vilnius'], 10, 15, 54]

In [5]:
##how to change value inside the list
my_list_4[3][0] = 'HAHA'
print(my_list_4)

[1, 100, 1, ['HAHA', 'Vilnius'], 10, 15, 54]

In [10]:
# can multiply but cant substract or divide
([1,2,3] + ['a', 'b', 'c']) * 4

[1,
 2,
 3,
 'a',
 'b',
 'c',
 1,
 2,
 3,
 'a',
 'b',
 'c',
 1,
 2,
 3,
 'a',
 'b',
 'c',
 1,
 2,
 3,
 'a',
 'b',
 'c']

In [18]:
my_list=[1,2,3]
# what value you want to add
my_list.append(5)
my_list.append('abs')
my_list.append([10, 100, 1000])
print(my_list)

[1, 2, 3, 5, 'abs', [10, 100, 1000]]

In [19]:
#add every new value as an item
my_list.extend('abs')
my_list.extend([156])
print(my_list)

[1, 2, 3, 5, 'abs', [10, 100, 1000], 'a', 'b', 's', 156]

In [17]:
#pop. it deletes one value from list and gives it back to you. 156 is missing
poped_value= my_list.pop() #can add value in brackets, if no value it will remove the last one
print (poped_value)
print (my_list)

156
[1, 2, 3, 5, 'a', [10, 100, 1000], 'a', 'b', 's', 'a', 'b', 's']

In [22]:
#insert specify where you want to add something. adds every time you run
print (my_list)
my_list.insert(3, 'new_text')
print (my_list)

[1, 2, 'new_text', 3, 5, 'abs', [10, 100, 1000], 'a', 'b', 's', 156]
[1, 2, 'new_text', 'new_text', 3, 5, 'abs', [10, 100, 1000], 'a', 'b', 's', 156]

In [23]:
#removes first occurence of value. if i try to run again will get error as i dont have any more a letters
print (my_list)
my_list.remove('a')
print (my_list)

[1, 2, 'new_text', 'new_text', 3, 5, 'abs', [10, 100, 1000], 'a', 'b', 's', 156]
[1, 2, 'new_text', 'new_text', 3, 5, 'abs', [10, 100, 1000], 'b', 's', 156]

In [26]:
# index gives index or value. if you have list which you dont know if you have some value in it
print (my_list)
index_10 = my_list.index(2) 
print (index_10 )
print (my_list[index_10] )

[1, 2, 'new_text', 'new_text', 3, 5, 'abs', [10, 100, 1000], 'b', 's', 156]
1
2

In [29]:
#clear - cleans everything from list
my_list.clear()
#count how many values we have within a list. only works for numbers-integers.
my_list.extend([5, 5, 5, 5])
print (my_list)
my_list.count(5)
my_list.extend([1, 2, 'new_text', 'new_text', 3, 5, 'abs', [10, 100, 1000], 'b', 's', 156])
print (my_list)

[5, 5, 5, 5]
[5, 5, 5, 5, 1, 2, 'new_text', 'new_text', 3, 5, 'abs', [10, 100, 1000], 'b', 's', 156]

In [31]:
my_list.reverse()
my_list

[156,
 's',
 'b',
 [10, 100, 1000],
 'abs',
 5,
 3,
 'new_text',
 'new_text',
 2,
 1,
 5,
 5,
 5,
 5]

## Mutable vs immutable

In [32]:
#immutable. if one changes another wont change
a=1
b=1
b+=1
print(a)
print(b)
print( id(a) )
print( id(b) )

1
2
4539107632
4539107664

In [34]:
#mutable
list_1 = [1,2,3]
list_2 = list_1
list_2.append(100)
print(list_1)
print(list_2)
print( id(list_1) )
print( id(list_2) )

[1, 2, 3, 100]
[1, 2, 3, 100]
4600807040
4600807040

In [36]:
#fixing mutability 10.44
# list_1 = [1,2,3]
list_1 = [1,2,[1,0,100] ]
list_2 = list_1.copy()
# list_2.append(100)
list_2[2].append(100)
print(list_1)
print(list_2)
print( id(list_1) )
print( id(list_2) )

[1, 2, [1, 0, 100, 100]]
[1, 2, [1, 0, 100, 100]]
4600804224
4601462464

In [37]:
# list_1 = [1,2,3]
list_1 = [1,2,[1,0,100] ]
list_2 = list_1.copy()
# list_2.append(100)
list_2[2].append(100)
print(list_1)
print(list_2)
print( id(list_1) )
print( id(list_2) )

[1, 2, [1, 0, 100, 100]]
[1, 2, [1, 0, 100, 100]]
4600790592
4601353152

In [39]:
#to check if i have this value
print (my_list)
print('b' in my_list)
print('f' in my_list)

[156, 's', 'b', [10, 100, 1000], 'abs', 5, 3, 'new_text', 'new_text', 2, 1, 5, 5, 5, 5]
True
False

In [42]:
#useful to use tuples when there is data which you cant change. user ids, etc
my_tuple = (1, 1, 'a', 'b', 'ab' )
print (my_tuple[:3] )
print (my_tuple[4])
print (f'lenght of the tuple: {len (my_tuple)}' )
print (f'count of 1 in tuple: {my_tuple.count(1)}' )
print (f"count of 'c' in tuple: {my_tuple.count('c')}" )
print (f"check if 'b' is in tuple: { 'b' in my_tuple}" )
print (f"check 'b' index in tuple: { my_tuple.index('b')}" )

# my_tuple[2] = 'c' # Error, can't do that

(1, 1, 'a')
ab
lenght of the tuple: 5
count of 1 in tuple: 2
count of 'c' in tuple: 0
check if 'b' is in tuple: True
check 'b' index in tuple: 3

In [43]:
#can create a new tuple by adding them
tuple_1 = (1,2,3)
tuple_2 = (4,5,3)
tuple_3 = tuple_1 + tuple_2
print (tuple_3)

(1, 2, 3, 4, 5, 3)

In [44]:
#there is a way  to change values inside tuples
#tuple_3[3]=10 wont work
tuple_1 = (1,2,3)
tuple_2 = (4,5,3)
tuple_3 = tuple_1 + tuple_2
tmp_list = list(tuple_3)
print (tmp_list)
tmp_list[3] = 10
tuple_3 = tuple(tmp_list)
print (tuple_3)

[1, 2, 3, 4, 5, 3]
(1, 2, 3, 10, 5, 3)

## Tuple tasks

Get value  

my_tuple = (1, 2, ['3', 4, 5], [6, [7, (8)]]) 

Display ‘8’ on the screen

In [50]:
my_tuple_2 = (1, 2, ['3', 4, 5], [6, [7, (8)]]) #there are 3 layers
print (my_tuple_2[3][1][1])  
#other way
print (my_tuple_2[-1][-1][-1])

8
8

Change the value

tuple1 = (11, [222, 33], 44, 55)

tuple1 = (11, [222, 22], 44, 55)

In [53]:
tuple1 = (11, [222, 33], 44, 55)
print (tuple1)
tmp_list = list(tuple1)
print (tmp_list[1])
tmp_list[1][1] = 22
tuple1 = tuple(tuple1)
print (tuple1)
######### other way
tuple1 = (11, [222, 33], 44, 55)
print(tuple1)
tuple1[1][1] = 22
print (tuple1)

(11, [222, 33], 44, 55)
[222, 33]
(11, [222, 22], 44, 55)
(11, [222, 33], 44, 55)
(11, [222, 22], 44, 55)

## Range

In [59]:
#it is used to make multiple actions. if i want to repeat something for 10 times for eg
print (list(range(10)))
print (list(range(5, 10)))
print (list(range(5, 25, 2)))
print (list(range(50, 25, -5))) #decreasing order

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[5, 7, 9, 11, 13, 15, 17, 19, 21, 23]
[50, 45, 40, 35, 30]

In [63]:
#to find out what type variable it is
print (type (range(10)))
print (type ( [1, 5, 3]))
print (type ((1, 5, 3)))

<class 'range'>
<class 'list'>
<class 'tuple'>

## For Loops

In [69]:
cities = ['Vilnius', 'Kaunas', 'London', 'Berlin', 'Porto']
for city in cities:      #important sequance. in python for is separated with spaces (4 spaces)
    print (f'City is called {city}') #only this is in loop
print ("went through all cities")

City is called Vilnius
City is called Kaunas
City is called London
City is called Berlin
City is called Porto
went through all cities

In [72]:
for i in range(5,50,5): #letter i stands for index
    print (f'index is {i}')

index is 5
index is 10
index is 15
index is 20
index is 25
index is 30
index is 35
index is 40
index is 45

## For loop tasks

Get all possible
combinations from these
lists, add them to a
single list

1. days = (‘Monday’, ‘Tuesday’, ‘Wednesday’, ‘Thursday’, ‘Friday’, ‘Saturday’ , ‘Sunday’)
hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [82]:
days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' , 'Sunday')
hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

combinations = []
for day in days:
    print(day)
    for hour in hours:
        print (hour)
        combinations.append( (day, hour) ) #it accepts only single objects
    print ('Checking next day')
print (combinations)

Monday
10
11
12
13
14
15
16
17
18
19
Checking next day
Tuesday
10
11
12
13
14
15
16
17
18
19
Checking next day
Wednesday
10
11
12
13
14
15
16
17
18
19
Checking next day
Thursday
10
11
12
13
14
15
16
17
18
19
Checking next day
Friday
10
11
12
13
14
15
16
17
18
19
Checking next day
Saturday
10
11
12
13
14
15
16
17
18
19
Checking next day
Sunday
10
11
12
13
14
15
16
17
18
19
Checking next day
[('Monday', 10), ('Monday', 11), ('Monday', 12), ('Monday', 13), ('Monday', 14), ('Monday', 15), ('Monday', 16), ('Monday', 17), ('Monday', 18), ('Monday', 19), ('Tuesday', 10), ('Tuesday', 11), ('Tuesday', 12), ('Tuesday', 13), ('Tuesday', 14), ('Tuesday', 15), ('Tuesday', 16), ('Tuesday', 17), ('Tuesday', 18), ('Tuesday', 19), ('Wednesday', 10), ('Wednesday', 11), ('Wednesday', 12), ('Wednesday', 13), ('Wednesday', 14), ('Wednesday', 15), ('Wednesday', 16), ('Wednesday', 17), ('Wednesday', 18), ('Wednesday', 19), ('Thursday', 10), ('Thursday', 11), ('Thursday', 12), ('Thursday', 13), ('Thursday', 14), ('Thursday', 15), ('Thursday', 16), ('Thursday', 17), ('Thursday', 18), ('Thursday', 19), ('Friday', 10), ('Friday', 11), ('Friday', 12), ('Friday', 13), ('Friday', 14), ('Friday', 15), ('Friday', 16), ('Friday', 17), ('Friday', 18), ('Friday', 19), ('Saturday', 10), ('Saturday', 11), ('Saturday', 12), ('Saturday', 13), ('Saturday', 14), ('Saturday', 15), ('Saturday', 16), ('Saturday', 17), ('Saturday', 18), ('Saturday', 19), ('Sunday', 10), ('Sunday', 11), ('Sunday', 12), ('Sunday', 13), ('Sunday', 14), ('Sunday', 15), ('Sunday', 16), ('Sunday', 17), ('Sunday', 18), ('Sunday', 19)]