In [4]:
my_int=6
my_float=6.

In [5]:
print (type(my_int))
print (type(my_float))

<class 'int'>
<class 'float'>

In [6]:
3 + 9

12

## Operators

In [11]:
print (3 + 3.)
print (3 * 9)
print (3 / 9)
print (3 / 3)
##power of something ^ 
print (3 ** 9) 
print (3 ** 2)
#division
print (9 / 2)
print (9 // 2) #full numbers will be given
#remainder
print (11 % 3) #useful when you want to check if number is even

6.0
27
0.3333333333333333
1.0
19683
9
4.5
4
2

In [12]:
4%5

4

In [13]:
6%5

1

In [14]:
print ('even',145676 % 2)
print ('uneven',145677 % 2)

even 0
uneven 1

In [15]:
5.5 % 2

1.5

Declare two int variables of type

Calculate the sum of two int, the difference, the product, the remainder, divide one number by another

In [36]:
my_int_1 = 13
my_int_2 = 3
print (f'sum: {my_int_1 + my_int_2}')
print (f'subtract: {my_int_1 - my_int_2}')
print (f'multiply: {my_int_1 * my_int_2}')
print (f'power of: {my_int_1 ** my_int_2}')
print (f'Divide: {my_int_1 / my_int_2}')
print (f'Modulus: {my_int_1 % my_int_2}')

sum: 16
subtract: 10
multiply: 39
power of: 2197
Divide: 4.333333333333333
Modulus: 1

Declare two float-type variables

In [37]:
my_float_1 = 13.4198498
my_float_2 = 3.14
print (f'sum: {my_float_1 + my_float_2}')
print (f'subtract: {my_float_1 - my_float_2}')
print (f'multiply: {my_float_1 * my_float_2}')
print (f'power of: {my_float_1 ** my_float_2}')
print (f'Divide: {my_float_1 / my_float_2}')
print (f'Modulus: {my_float_1 % my_float_2}')

sum: 16.5598498
subtract: 10.2798498
multiply: 42.138328372000004
power of: 3476.3831555637157
Divide: 4.273837515923566
Modulus: 0.8598497999999992

The distance to the Moon is about
384,000 km, and to the Sun
150,000,000, how many times the
distance to the Sun is greater than
to the Moon?

In [41]:
dist_moon = 384000
dist_sun = 150000000
print (dist_sun/ dist_moon)

390.625

2. If we want to drive to the moon in a
car with a speed of 150km / h, how
many hours, years, months, days,
seconds would it take?

In [42]:
speed = 150
print (f'seconds to the moon {dist_moon/speed*3600}')
print (f'hours to the moon {dist_moon/speed}')
print (f'days to the moon {dist_moon/speed/24}')
print (f'months to the moon {dist_moon/speed/24/30}')
print (f'years to the moon {dist_moon/speed/24/30/12}')

seconds to the moon 9216000.0
hours to the moon 2560.0
days to the moon 106.66666666666667
months to the moon 3.555555555555556
years to the moon 0.29629629629629634

3. How many days have passed since your birthday?

In [33]:
import datetime #name of the library

print (datetime.datetime.now()) #datetime date and time included 
my_birthday=datetime.date(1995,6,26) 
datetime.datetime.now().date() - my_birthday #timedelta is difference

2021-11-16 11:00:51.136937

datetime.timedelta(days=9640)

In [34]:
delta = datetime.timedelta(seconds=dist_moon/speed*3600)
print (f'We would reach the moon on {datetime.datetime.now() + delta}')

We would reach the moon on 2022-03-03 03:00:54.032354

In [32]:
from datetime import datetime
from datetime import timedelta
from datetime import date

## Boolean

In [45]:
my_bool = 1 > 2
print (my_bool)
print (type(my_bool))

False
<class 'bool'>

In [47]:
my_bool_2 = True #capital letter important!!
my_bool_3 = False
is_even = my_int % 2 == 0
print (my_int)
print (f'my_int is even {is_even}')

6
my_int is even True

## Comparison operators

In [48]:
print (f'equal to operator ==: { 1 == 1} ')
print (f'equal to operator ==: { 1 == 10} ')
print (f'not equal to operator !=: { 1 != 1} ')
print (f'not equal to operator !=: { 1 != 10} ')
print (f'more to operator >: { 15 > 10} ')
print (f'more to operator >=: { 10 >= 10} ')
print (f'more to operator <: { 1 < 10} ')
print (f'more to operator <=: { 10 <= 10} ')

equal to operator ==: True
equal to operator ==: False
not equal to operator !=: False
not equal to operator !=: True
more to operator >: True
more to operator >=: True
more to operator <: True
more to operator <=: True

In [50]:
# True and true
10 > 2 and 2 < 5

True

In [52]:
# True and false
10 > 2 and 10 < 5

False

In [53]:
# True or true (if either is true)
10 > 2 or 10 < 5

True

In [55]:
# False or false
10 > 20 or 10 < 5

False

In [56]:
True and 10 > 5 and 10 % 2 == 0 or False
#<----True----> and <--True---> or
#<-- True ------------ True---> or
# go from left to right. and - on both sides

True

In [57]:
True and 10 > 5 and 11 % 2 == 0 or False
#<----True----> and <--False--> or
#<-------- False--------------> or False

False

In [58]:
True and 10 > 5 and 11 % 2 == 0 or 1 > 2 #False
#<----True----> and <--False--> or
#<-------- False--------------> or False

False

In [62]:
#change type to boolean
print (bool('Some text' ) )
print (bool('') )
print (bool(' ') )
# if there is any value it will be true - otherwise false

True
False
True

In [64]:
print (bool(5) )
print (bool(0) )
print (bool(1) )
print (bool(-1) )
print (bool(-38746358) )

True
False
True
True
True

In [67]:
print (bool(5.0) )
print (bool(0.0) )
print (bool(0.5) )
print (bool(0.00000000005) )

True
False
True
True

In [70]:
print (5 > 2)
print (not 5 > 2)

True
False

In [73]:
not_even = not 10 % 2 ==0
print (not_even)
not_even_2 = 10 % 2 !=0
print (not_even_2)

False
False

In [75]:
sum = 0
sum = sum + 5 #5
sum = sum + 10 #15
sum = sum - 3 #12
print (sum)

#same as 
sum = 0
sum += 5
sum += 10
sum -= 3
print (sum)

12
12

In [76]:
multiply = 1
multiply *= 10
multiply *= 10
multiply *= 10
print (multiply)

1000

## Membership operator

In [81]:
text = 'Hello world'
'world' in text #if world exist in my text
print ('world' in text) #case sensitive, space sensitive
print ('World' in text)
print ('world ' in text)
print ('Ruta' not in text)

True
False
False
True

## Bolean tasks HOMEWORK

In [82]:
#############################

## LISTS

In [83]:
my_list = [1, 5, 10, 15]

In [90]:
print ('lenght: ',len(my_list))
print ('1st: ',my_list[0])
print ('slice: ',my_list[2:])

lenght:  4
1st:  1
slice:  [10, 15]

In [91]:
my_list_2 = [1, 1, 2, 2, 'Ruta', 'Vilnius', True, 1>10]
print (my_list_2)

[1, 1, 2, 2, 'Ruta', 'Vilnius', True, False]

In [100]:
my_list_3 = [1, 5, 1, 14984, 10, 15, 54]
print (my_list_3)
my_list_3.sort() #asc order
#print (my_list_3.sort()) # doesnt work. don't print it
print (my_list_3)
print (my_list_3[::-1])
print (my_list_3)
my_list_3.sort(reverse=True)
print (my_list_3)

[1, 5, 1, 14984, 10, 15, 54]
[1, 1, 5, 10, 15, 54, 14984]
[14984, 54, 15, 10, 5, 1, 1]
[1, 1, 5, 10, 15, 54, 14984]
[14984, 54, 15, 10, 5, 1, 1]

In [1]:
my_list_4 = [ 1, 5, 1, ['New list inside', "Vilnius"], 10, 15, 54 ]
print (my_list_4)
print (my_list_4[3])

[1, 5, 1, ['New list inside', 'Vilnius'], 10, 15, 54]
['New list inside', 'Vilnius']

In [ ]:
## lesson 2021-11-18

In [2]:
print (my_list_4)
my_list_4[1] = 100
print (my_list_4)

[1, 5, 1, ['New list inside', 'Vilnius'], 10, 15, 54]
[1, 100, 1, ['New list inside', 'Vilnius'], 10, 15, 54]

In [5]:
##how to change value inside the list
my_list_4[3][0] = 'HAHA'
print(my_list_4)

[1, 100, 1, ['HAHA', 'Vilnius'], 10, 15, 54]

In [10]:
# can multiply but cant substract or divide
([1,2,3] + ['a', 'b', 'c']) * 4

[1,
 2,
 3,
 'a',
 'b',
 'c',
 1,
 2,
 3,
 'a',
 'b',
 'c',
 1,
 2,
 3,
 'a',
 'b',
 'c',
 1,
 2,
 3,
 'a',
 'b',
 'c']

In [18]:
my_list=[1,2,3]
# what value you want to add
my_list.append(5)
my_list.append('abs')
my_list.append([10, 100, 1000])
print(my_list)

[1, 2, 3, 5, 'abs', [10, 100, 1000]]

In [19]:
#add every new value as an item
my_list.extend('abs')
my_list.extend([156])
print(my_list)

[1, 2, 3, 5, 'abs', [10, 100, 1000], 'a', 'b', 's', 156]

In [17]:
#pop. it deletes one value from list and gives it back to you. 156 is missing
poped_value= my_list.pop() #can add value in brackets, if no value it will remove the last one
print (poped_value)
print (my_list)

156
[1, 2, 3, 5, 'a', [10, 100, 1000], 'a', 'b', 's', 'a', 'b', 's']

In [22]:
#insert specify where you want to add something. adds every time you run
print (my_list)
my_list.insert(3, 'new_text')
print (my_list)

[1, 2, 'new_text', 3, 5, 'abs', [10, 100, 1000], 'a', 'b', 's', 156]
[1, 2, 'new_text', 'new_text', 3, 5, 'abs', [10, 100, 1000], 'a', 'b', 's', 156]

In [23]:
#removes first occurence of value. if i try to run again will get error as i dont have any more a letters
print (my_list)
my_list.remove('a')
print (my_list)

[1, 2, 'new_text', 'new_text', 3, 5, 'abs', [10, 100, 1000], 'a', 'b', 's', 156]
[1, 2, 'new_text', 'new_text', 3, 5, 'abs', [10, 100, 1000], 'b', 's', 156]

In [26]:
# index gives index or value. if you have list which you dont know if you have some value in it
print (my_list)
index_10 = my_list.index(2) 
print (index_10 )
print (my_list[index_10] )

[1, 2, 'new_text', 'new_text', 3, 5, 'abs', [10, 100, 1000], 'b', 's', 156]
1
2

In [29]:
#clear - cleans everything from list
my_list.clear()
#count how many values we have within a list. only works for numbers-integers.
my_list.extend([5, 5, 5, 5])
print (my_list)
my_list.count(5)
my_list.extend([1, 2, 'new_text', 'new_text', 3, 5, 'abs', [10, 100, 1000], 'b', 's', 156])
print (my_list)

[5, 5, 5, 5]
[5, 5, 5, 5, 1, 2, 'new_text', 'new_text', 3, 5, 'abs', [10, 100, 1000], 'b', 's', 156]

In [31]:
my_list.reverse()
my_list

[156,
 's',
 'b',
 [10, 100, 1000],
 'abs',
 5,
 3,
 'new_text',
 'new_text',
 2,
 1,
 5,
 5,
 5,
 5]

## Mutable vs immutable

In [32]:
#immutable. if one changes another wont change
a=1
b=1
b+=1
print(a)
print(b)
print( id(a) )
print( id(b) )

1
2
4539107632
4539107664

In [34]:
#mutable
list_1 = [1,2,3]
list_2 = list_1
list_2.append(100)
print(list_1)
print(list_2)
print( id(list_1) )
print( id(list_2) )

[1, 2, 3, 100]
[1, 2, 3, 100]
4600807040
4600807040

In [36]:
#fixing mutability 10.44
# list_1 = [1,2,3]
list_1 = [1,2,[1,0,100] ]
list_2 = list_1.copy()
# list_2.append(100)
list_2[2].append(100)
print(list_1)
print(list_2)
print( id(list_1) )
print( id(list_2) )

[1, 2, [1, 0, 100, 100]]
[1, 2, [1, 0, 100, 100]]
4600804224
4601462464

In [37]:
# list_1 = [1,2,3]
list_1 = [1,2,[1,0,100] ]
list_2 = list_1.copy()
# list_2.append(100)
list_2[2].append(100)
print(list_1)
print(list_2)
print( id(list_1) )
print( id(list_2) )

[1, 2, [1, 0, 100, 100]]
[1, 2, [1, 0, 100, 100]]
4600790592
4601353152

In [39]:
#to check if i have this value
print (my_list)
print('b' in my_list)
print('f' in my_list)

[156, 's', 'b', [10, 100, 1000], 'abs', 5, 3, 'new_text', 'new_text', 2, 1, 5, 5, 5, 5]
True
False

In [42]:
#useful to use tuples when there is data which you cant change. user ids, etc
my_tuple = (1, 1, 'a', 'b', 'ab' )
print (my_tuple[:3] )
print (my_tuple[4])
print (f'lenght of the tuple: {len (my_tuple)}' )
print (f'count of 1 in tuple: {my_tuple.count(1)}' )
print (f"count of 'c' in tuple: {my_tuple.count('c')}" )
print (f"check if 'b' is in tuple: { 'b' in my_tuple}" )
print (f"check 'b' index in tuple: { my_tuple.index('b')}" )

# my_tuple[2] = 'c' # Error, can't do that

(1, 1, 'a')
ab
lenght of the tuple: 5
count of 1 in tuple: 2
count of 'c' in tuple: 0
check if 'b' is in tuple: True
check 'b' index in tuple: 3

In [43]:
#can create a new tuple by adding them
tuple_1 = (1,2,3)
tuple_2 = (4,5,3)
tuple_3 = tuple_1 + tuple_2
print (tuple_3)

(1, 2, 3, 4, 5, 3)

In [44]:
#there is a way  to change values inside tuples
#tuple_3[3]=10 wont work
tuple_1 = (1,2,3)
tuple_2 = (4,5,3)
tuple_3 = tuple_1 + tuple_2
tmp_list = list(tuple_3)
print (tmp_list)
tmp_list[3] = 10
tuple_3 = tuple(tmp_list)
print (tuple_3)

[1, 2, 3, 4, 5, 3]
(1, 2, 3, 10, 5, 3)

## Tuple tasks

Get value  

my_tuple = (1, 2, ['3', 4, 5], [6, [7, (8)]]) 

Display ‘8’ on the screen

In [50]:
my_tuple_2 = (1, 2, ['3', 4, 5], [6, [7, (8)]]) #there are 3 layers
print (my_tuple_2[3][1][1])  
#other way
print (my_tuple_2[-1][-1][-1])

8
8

Change the value

tuple1 = (11, [222, 33], 44, 55)

tuple1 = (11, [222, 22], 44, 55)

In [53]:
tuple1 = (11, [222, 33], 44, 55)
print (tuple1)
tmp_list = list(tuple1)
print (tmp_list[1])
tmp_list[1][1] = 22
tuple1 = tuple(tuple1)
print (tuple1)
######### other way
tuple1 = (11, [222, 33], 44, 55)
print(tuple1)
tuple1[1][1] = 22
print (tuple1)

(11, [222, 33], 44, 55)
[222, 33]
(11, [222, 22], 44, 55)
(11, [222, 33], 44, 55)
(11, [222, 22], 44, 55)

## Range

In [59]:
#it is used to make multiple actions. if i want to repeat something for 10 times for eg
print (list(range(10)))
print (list(range(5, 10)))
print (list(range(5, 25, 2)))
print (list(range(50, 25, -5))) #decreasing order

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[5, 7, 9, 11, 13, 15, 17, 19, 21, 23]
[50, 45, 40, 35, 30]

In [63]:
#to find out what type variable it is
print (type (range(10)))
print (type ( [1, 5, 3]))
print (type ((1, 5, 3)))

<class 'range'>
<class 'list'>
<class 'tuple'>

## For Loops

In [69]:
cities = ['Vilnius', 'Kaunas', 'London', 'Berlin', 'Porto']
for city in cities:      #important sequance. in python for is separated with spaces (4 spaces)
    print (f'City is called {city}') #only this is in loop
print ("went through all cities")

City is called Vilnius
City is called Kaunas
City is called London
City is called Berlin
City is called Porto
went through all cities

In [72]:
for i in range(5,50,5): #letter i stands for index
    print (f'index is {i}')

index is 5
index is 10
index is 15
index is 20
index is 25
index is 30
index is 35
index is 40
index is 45

## For loop tasks

Get all possible
combinations from these
lists, add them to a
single list

1. days = (‘Monday’, ‘Tuesday’, ‘Wednesday’, ‘Thursday’, ‘Friday’, ‘Saturday’ , ‘Sunday’)
hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [82]:
days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' , 'Sunday')
hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

combinations = []
for day in days:
    print(day)
    for hour in hours:
        print (hour)
        combinations.append( (day, hour) ) #it accepts only single objects
    print ('Checking next day')
print (combinations)

Monday
10
11
12
13
14
15
16
17
18
19
Checking next day
Tuesday
10
11
12
13
14
15
16
17
18
19
Checking next day
Wednesday
10
11
12
13
14
15
16
17
18
19
Checking next day
Thursday
10
11
12
13
14
15
16
17
18
19
Checking next day
Friday
10
11
12
13
14
15
16
17
18
19
Checking next day
Saturday
10
11
12
13
14
15
16
17
18
19
Checking next day
Sunday
10
11
12
13
14
15
16
17
18
19
Checking next day
[('Monday', 10), ('Monday', 11), ('Monday', 12), ('Monday', 13), ('Monday', 14), ('Monday', 15), ('Monday', 16), ('Monday', 17), ('Monday', 18), ('Monday', 19), ('Tuesday', 10), ('Tuesday', 11), ('Tuesday', 12), ('Tuesday', 13), ('Tuesday', 14), ('Tuesday', 15), ('Tuesday', 16), ('Tuesday', 17), ('Tuesday', 18), ('Tuesday', 19), ('Wednesday', 10), ('Wednesday', 11), ('Wednesday', 12), ('Wednesday', 13), ('Wednesday', 14), ('Wednesday', 15), ('Wednesday', 16), ('Wednesday', 17), ('Wednesday', 18), ('Wednesday', 19), ('Thursday', 10), ('Thursday', 11), ('Thursday', 12), ('Thursday', 13), ('Thursday', 14), ('Thursday', 15), ('Thursday', 16), ('Thursday', 17), ('Thursday', 18), ('Thursday', 19), ('Friday', 10), ('Friday', 11), ('Friday', 12), ('Friday', 13), ('Friday', 14), ('Friday', 15), ('Friday', 16), ('Friday', 17), ('Friday', 18), ('Friday', 19), ('Saturday', 10), ('Saturday', 11), ('Saturday', 12), ('Saturday', 13), ('Saturday', 14), ('Saturday', 15), ('Saturday', 16), ('Saturday', 17), ('Saturday', 18), ('Saturday', 19), ('Sunday', 10), ('Sunday', 11), ('Sunday', 12), ('Sunday', 13), ('Sunday', 14), ('Sunday', 15), ('Sunday', 16), ('Sunday', 17), ('Sunday', 18), ('Sunday', 19)]

In [1]:
## Lesson5 2021-11-23

In [2]:
# List tasks from pdf. page3
my_list= [1, 3, 5]
print (len(my_list))
my_list.append(9)
print(my_list)

3
[1, 3, 5, 9]

In [3]:
8 in my_list

False

In [4]:
'3' in my_list

False

In [7]:
#new_list = [1, 2, 3] + ['1', '2', '3' ]
new_list = [1, 2, 3] + [7, 6, 5]
print(new_list)
new_list.pop()
print(new_list)
new_list.sort(reverse=True)
print(new_list)
for number in new_list:
    print(f'number {number} repeats {new_list.count(number)} times')

[1, 2, 3, 7, 6, 5]
[1, 2, 3, 7, 6]
[7, 6, 3, 2, 1]
number 7 repeats 1 times
number 6 repeats 1 times
number 3 repeats 1 times
number 2 repeats 1 times
number 1 repeats 1 times

In [8]:
#Tuple tasks
tuple1 = (1,2,3)
tuple2 = (11,5,6,8)
new_tuple = tuple1 + tuple2
print (new_tuple)
list_1 = list(tuple1)
print (list_1)
list_1.pop()
print (list_1)
for number in new_tuple:
    print(f'number {number} repeats {new_tuple.count(number)} times')
print (f'max value in tuple {max(new_tuple) }')
tmp_list = list (new_tuple)
tmp_list.sort(reverse=True)
print (tmp_list)
print (f'max value in tuple {tmp_list[0] }')

(1, 2, 3, 11, 5, 6, 8)
[1, 2, 3]
[1, 2]
number 1 repeats 1 times
number 2 repeats 1 times
number 3 repeats 1 times
number 11 repeats 1 times
number 5 repeats 1 times
number 6 repeats 1 times
number 8 repeats 1 times
max value in tuple 11
[11, 8, 6, 5, 3, 2, 1]
max value in tuple 11

In [9]:
#for loop tasks
for number in range (1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [10]:
my_sum = 0
for number in range (1,51):
    my_sum += number
    print (my_sum)
print (my_sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1275

In [13]:
user_input = input('Enter a number:')
user_number = int(user_input)
for i in range(1,10):
    print(f'number {user_number} multiplied by {i} is equal to {user_number * i}')
    #need to enter number

number 22 multiplied by 1 is equal to 22
number 22 multiplied by 2 is equal to 44
number 22 multiplied by 3 is equal to 66
number 22 multiplied by 4 is equal to 88
number 22 multiplied by 5 is equal to 110
number 22 multiplied by 6 is equal to 132
number 22 multiplied by 7 is equal to 154
number 22 multiplied by 8 is equal to 176
number 22 multiplied by 9 is equal to 198

## If statement

In [15]:
if 5 > 1:
    print ('That is true')
print ('end of script')

That is true
end of script

In [20]:
number = 9
if number > 10:
    print (f'number is more than ten')
if number <10:
    print (f'number is less than ten')
else:
    print (f'number is ten')
print ('end of script')

number is less than ten
end of script

In [21]:
name = 'Darius'
year = 2005

if name == 'Linas':
    print ('Hi Linas')
elif name == 'Darius' and year > 2000: 
    print ('Hi Darius')
else:
    print('Hi unknown person')
print ('end of script')

Hi Darius
end of script

In [29]:
name = 'Tomas'
year = 200

if name == 'Linas':
    print ('Hi Linas')
elif year > 2000:
    print ('Year is greater than 2000')
elif name == 'Darius' and year > 2000: 
    print ('Hi Darius') #this will never be excecuted if first elif is correct. important elif statemnets order
else:
    print('Hi unknown person')
print ('end of script')
#only single statement will be excecuted

Hi unknown person
end of script

In [25]:
name = 'Darius'
year = 2005

if name == 'Darius':
    print ('Hi Linas')
elif year > 2000:
    print ('Year is greater than 2000')
    if name == 'Darius' and year > 2000: 
        print ('Hi Darius') #this will  be excecuted if name is Darius
    print('Hi unknown person')
print ('end of script')

Year is greater than 2000
Hi Darius
Hi unknown person
end of script

In [26]:
name = 'Darius'
year = 2005

if name == 'Linas':
    print ('Hi Linas')
if year > 2000:
    print ('Year is greater than 2000')
if name == 'Darius' and year > 2000: 
    print ('Hi Darius') #this will never be excecuted if first elif is correct. important elif statemnets order
# else:
    # print('Hi unknown person')
print ('end of script')

Year is greater than 2000
Hi Darius
end of script

In [32]:
# real life example

for number in range(0,31):
    if number % 7 == 0: #% divided by 3 with any left values
        print (number)

0
7
14
21
28

In [35]:
my_list = list(range(110, 213, 4))
print (my_list)

for idx in range(0,len(my_list)):
    if idx % 7 == 0:
        print (my_list[idx])

[110, 114, 118, 122, 126, 130, 134, 138, 142, 146, 150, 154, 158, 162, 166, 170, 174, 178, 182, 186, 190, 194, 198, 202, 206, 210]
110
138
166
194

In [36]:
# if tasks
my_sum = 0

for number in range(1,51):
    if (my_sum + number) % 2 == 0:
        my_sum += number
        print (my_sum)

2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650

In [43]:
days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' , 'Sunday')
hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
available_days = ['Monday', 'Wednesday']
available_hours = [12, 13, 14, 15, 16, 17]


combinations = []
for day in days:
    if day in available_days:
        print(day)
        for hour in hours:
            if hour in available_hours:
                print (hour)
                combination = (day, hour)
                combinations.append( combination ) #adds 1 value to list
        print ('Checking next day')
print (combinations)

Monday
12
13
14
15
16
17
Checking next day
Wednesday
12
13
14
15
16
17
Checking next day
[('Monday', 12), ('Monday', 13), ('Monday', 14), ('Monday', 15), ('Monday', 16), ('Monday', 17), ('Wednesday', 12), ('Wednesday', 13), ('Wednesday', 14), ('Wednesday', 15), ('Wednesday', 16), ('Wednesday', 17)]

In [39]:
my_list = []
my_list.append('some text')
print (my_list)

['some text']

## List comprehensions

In [44]:
my_list = [5,4,78,8]

mult_2= [number*2 for number in my_list]
print(mult_2)

[10, 8, 156, 16]

In [45]:
my_list = [5,4,78,7]
# [RESULT for STH in ITERABLE ]
mult_2= [number*2 for number in my_list if number % 2 == 0 ]
print(mult_2)

[8, 156]

In [47]:
days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' , 'Sunday')
hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

available_days = ['Monday', 'Wednesday']
available_hours = [12, 13, 14, 15, 16, 17]

combinations = [ (day, hour) for day in days for hour in hours if day in available_days and hour in available_hours]
print(combinations)

[('Monday', 12), ('Monday', 13), ('Monday', 14), ('Monday', 15), ('Monday', 16), ('Monday', 17), ('Wednesday', 12), ('Wednesday', 13), ('Wednesday', 14), ('Wednesday', 15), ('Wednesday', 16), ('Wednesday', 17)]

In [48]:
my_list = [5,4,74,7]
mult= [number*2 if number % 2 == 0 else number*3 for number in my_list ]
print(mult)

[15, 8, 148, 21]

In [49]:
my_list = [5, 4, 74, 7, 4598, 4163, 4984, 784, 345, 46987]
even = [1 for number in my_list if number % 2 == 0 ]
print(even)
count_even = sum(even)
print(count_even)

[1, 1, 1, 1, 1]
5

## Dictionary

In [50]:
my_dictionary = {
    'name': 'Ruta',
    'year': 2008,
    False: 'false',
    5: 'five',
    'hobbies': ['tennis', 'football', 'cooking']
}

In [57]:
print(my_dictionary['hobbies'])
print (my_dictionary[5])
my_dictionary['city'] = 'Vilnius'
print (my_dictionary)
my_dictionary['city'] = 'Kaunas'
print (my_dictionary)
print(len(my_dictionary)) #how many pairs

['tennis', 'football', 'cooking']
five
{'name': 'Ruta', 'year': 2008, False: 'false', 5: 'five', 'hobbies': ['tennis', 'football', 'cooking'], 'city': 'Vilnius'}
{'name': 'Ruta', 'year': 2008, False: 'false', 5: 'five', 'hobbies': ['tennis', 'football', 'cooking'], 'city': 'Kaunas'}
6

In [65]:
#my_dictionary.clear() deletes everything
print (my_dictionary)
print (type(my_dictionary))
my_dictionary.copy() #mutable
#my_dictionary.fromkeys #used to create new dict
tmp_dict = dict.fromkeys(['sum', 'mult_sum', 'div_sum'], 0)
print (tmp_dict)

{'name': 'Ruta', 'year': 2008, False: 'false', 5: 'five', 'hobbies': ['tennis', 'football', 'cooking'], 'city': 'Kaunas'}
<class 'dict'>
{'sum': 0, 'mult_sum': 0, 'div_sum': 0}

In [66]:
my_dictionary.get('city') #returns a value which is in my dict

'Kaunas'

In [67]:
#same as before. not same but similar
my_dictionary['city'] #will give an error if i dont have this value in dictionary
#my_dictionary['address'] gives error

'Kaunas'

In [68]:
print (my_dictionary.get('address', False) )
if my_dictionary.get('address', False) == False:
    print ("Dictionary does not contain 'address' info")

False
Dictionary does not contain 'address' info

In [70]:
print (my_dictionary.pop(False) ) #gives error on second run

KeyError: False

In [71]:
my_dictionary.popitem() #gives back pair tuple

('city', 'Kaunas')

In [74]:
print (my_dictionary.setdefault('city', 'Palanga') ) #creates new key
print (my_dictionary.setdefault('City', 'Palanga') ) #capital letter
print (my_dictionary)

Palanga
Palanga
{'name': 'Ruta', 'year': 2008, 5: 'five', 'hobbies': ['tennis', 'football', 'cooking'], 'city': 'Palanga', 'City': 'Palanga'}

In [75]:
new_dict = {
    'key': 'value of key',
    'sum': 10,
    'city': 'Vilnius'
}

my_dictionary.update(new_dict) #allows to update with new disctionary
print (my_dictionary)

{'name': 'Ruta', 'year': 2008, 5: 'five', 'hobbies': ['tennis', 'football', 'cooking'], 'city': 'Vilnius', 'City': 'Palanga', 'key': 'value of key', 'sum': 10}

In [76]:
for key, value in my_dictionary.items(): #k , v. iterate- kartoti
    print (f'key {key} has a value of {value}')

key name has a value of Ruta
key year has a value of 2008
key 5 has a value of five
key hobbies has a value of ['tennis', 'football', 'cooking']
key city has a value of Vilnius
key City has a value of Palanga
key key has a value of value of key
key sum has a value of 10

## lesson 6. 2021-11-25

In [19]:
user_input = None

for i in range(5):
    if user_input is None:
        print ('user_input has no value, enter it.')
        user_input = input("Enter your name")
        if not user_input:
            print ("You haven't enterned anything")
            user_input = None
    else:
        print (f'User name is : {user_input}')

user_input has no value, enter it.
User name is : None
User name is : None
User name is : None
User name is : None

## Dictionary

In [2]:
my_dictionary = {
    'name': 'Ruta',
    'year': 2008,
    False: 'false',
    5: 'five',
    'hobbies': ['tennis', 'football', 'cooking']
}

In [4]:
my_dictionary['hobbies'][1] # can use index as it is a list now

'football'

In [5]:
for hobby in my_dictionary['hobbies']:
    print (f'Ruta hobby is {hobby} ')

Ruta hobby is tennis
Ruta hobby is football
Ruta hobby is cooking

In [6]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

get value ‘Ford’, get the
length of the dictionary
car, change the year to
2020

In [13]:
print(car['brand'])
print(len(car))
car['year'] = 2020
print(car['year'])
print(car)

Ford
3
2020
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

Add new values to the
existing dictionary

In [16]:
car.update({'color' : 'red', 'used' : True})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'red', 'used': True}

In [20]:
## skipped a bit



# car = {
# "brand": "Ford",
# "year": 1992,
# 'color' = 'red'
# 'used' = True
# }

## Sets

In [23]:
fruits = { 'apple', 'banana', 'apple', 1,2,3,3,3,3,3 }
print(fruits)

{1, 2, 3, 'apple', 'banana'}

In [25]:
names = ['darius', 'benas', 'jonas', 'jonas', 'simas']
print(set(names))
print(len(set(names)))

{'darius', 'benas', 'jonas', 'simas'}
4

In [27]:
# add a single value
fruits = { 'apple', 'banana', 'orange'}
fruits.add('pineapple')
print(fruits)

{'orange', 'pineapple', 'apple', 'banana'}

In [29]:
# add multiple values
fruits.update( ['bananas', 'pear', 'mandarine'])
print(fruits)

{'pineapple', 'apple', 'bananas', 'orange', 'mandarine', 'banana', 'pear'}

In [31]:
# fruits[0] #error

In [ ]:
# fruits.pop()
# fruits.copy

In [32]:
#you cate if value was here and you removed it
fruits.remove('bananas')
fruits.remove('bananas')

KeyError: 'bananas'

In [34]:
#if you dont care if value was here, but you want to make it sure it is not here and delete it
fruits = {'apple', 'bananas', 'orange'}
fruits.discard('bananas')
fruits.discard('bananas')
fruits.discard('bananas')
print(fruits)

{'orange', 'apple'}

In [39]:
#sets useful when you want to compare something. what is the difference
set_1 = {1, 2, 5, 3, 7, 9}
set_2 = {10, 11, 15, 3, 250, 9}
print(set_1.difference(set_2))
#inetresction what is common
print(set_1.intersection(set_2))
#combine 2 sets
print (set_1.union(set_2))

{1, 2, 5, 7}
{9, 3}
{1, 2, 3, 5, 7, 9, 10, 11, 15, 250}

In [43]:
set_1 = {1, 2, 3, 4}
set_2 = {1,2,3,4,5}
print(set_1.issubset(set_2))
print(set_2.issuperset(set_1))

True
True

In [45]:
print(fruits)
print('bananas' in fruits)
print('apple' in fruits)

{'orange', 'apple'}
False
True

## Set tasks

In [50]:
fruits = {'apple', 'banana', 'cherry'}
print(fruits)
fruits.add(('new value', 5))
print(fruits)

{'cherry', 'apple', 'banana'}
{('new value', 5), 'cherry', 'apple', 'banana'}

In [53]:
#solution 1
print(fruits)
tmp_list = list(fruits)
print(tmp_list)
tmp_list[0] = 'watermelon'
print(tmp_list)
fruits = set(tmp_list)
print(fruits)

{('new value', 5), 'cherry', 'apple', 'banana'}
[('new value', 5), 'cherry', 'apple', 'banana']
['watermelon', 'cherry', 'apple', 'banana']
{'banana', 'cherry', 'watermelon', 'apple'}

In [55]:
fruits = {'apple', 'banana', 'cherry'}
print(fruits)
# solution 2
fruits.discard('apple')
print(fruits)
fruits.add('watermelon')
print(fruits)

{'cherry', 'apple', 'banana'}
{'cherry', 'banana'}
{'watermelon', 'cherry', 'banana'}

In [61]:
fruits = {'apple', 'banana', 'cherry'}
fruits.add('watermelon')
print(fruits)
fruits.update( ['tomato', 'pineaple', 'pear', 'orange', 'apple'])
print(fruits)
fruits.remove('apple')
fruits.discard('apple') #doesnt change anything
print(fruits)
print(len(fruits))
fruits.add('cherry')
print(fruits)
print(len(fruits))

{'watermelon', 'cherry', 'apple', 'banana'}
{'cherry', 'tomato', 'apple', 'orange', 'banana', 'pineaple', 'watermelon', 'pear'}
{'cherry', 'tomato', 'orange', 'banana', 'pineaple', 'watermelon', 'pear'}
7
{'cherry', 'tomato', 'orange', 'banana', 'pineaple', 'watermelon', 'pear'}
7

## For loops tasks

In [ ]:
# Lyrics analysis
# 1. Declare 2 string-type variables whose values
# would be the lyrics of any song
# 2. Get the lyrics of a song
# 3. If you selected an English song, remove the
# ‘the’
# 4. Convert all words to lowercase
# 5. Delete ‘ or “
# 6. Which song has more unique lyrics?
# 7. How many times does each word repeat in the
# songs?
# 8. Write the words of the song and how many
# times it repeats in the new dictionary, the
# result should look like this:
# result = {
# ‘baby’ : 5,
# ‘toxic’ : 1,
# ‘you’ : 7
# }

In [63]:
song_1 = """
Is this the real life?
Is this just fantasy?
Caught in a landside,
No escape from reality
Open your eyes,
Look up to the skies and see,
I'm just a poor boy, I need no sympathy,
Because I'm easy come, easy go,
Little high, little low,
Any way the wind blows doesn't really matter to
Me, to me
Mamaaa,
Just killed a man,
Put a gun against his head, pulled my trigger,
Now he's dead
Mamaaa, life had just begun,
But now I've gone and thrown it all away
Mama, oooh,
Didn't mean to make you cry,
If I'm not back again this time tomorrow,
Carry on, carry on as if nothing really matters
Too late, my time has come,
Sends shivers down my spine, body's aching all
The time
Goodbye, everybody, I've got to go,
Gotta leave you all behind and face the truth
Mama, oooh
I don't want to die,
I sometimes wish I'd never been born at all.
I see a little silhouetto of a man,
Scaramouch, Scaramouch, will you do the Fandango!
Thunderbolts and lightning, very, very frightening me
Galileo, Galileo
Galileo, Galileo
Galileo, Figaro - magnificoo
I'm just a poor boy nobody loves me
He's just a poor boy from a poor family,
Spare him his life from this monstrosity
Easy come, easy go, will you let me go
Bismillah! No, we will not let you go
(Let him go!) Bismillah! We will not let you go
(Let him go!) Bismillah! We will not let you go
(Let me go) Will not let you go
(Let me go)(Never) Never let you go
(Let me go) (Never) let you go (Let me go) Ah
No, no, no, no, no, no, no
Oh mama mia, mama mia, mama mia, let me go
Beelzebub has a devil put aside for me, for me,
For meee
So you think you can stop me and spit in my eye
So you think you can love me and leave me to die
Oh, baby, can't do this to me, baby,
Just gotta get out, just gotta get right outta here
Nothing really matters, Anyone can see,
Nothing really matters,
Nothing really matters to me
Any way the wind blows...
"""

In [64]:
print(song_1)

Is this the real life?
Is this just fantasy?
Caught in a landside,
No escape from reality
Open your eyes,
Look up to the skies and see,
I'm just a poor boy, I need no sympathy,
Because I'm easy come, easy go,
Little high, little low,
Any way the wind blows doesn't really matter to
Me, to me
Mamaaa,
Just killed a man,
Put a gun against his head, pulled my trigger,
Now he's dead
Mamaaa, life had just begun,
But now I've gone and thrown it all away
Mama, oooh,
Didn't mean to make you cry,
If I'm not back again this time tomorrow,
Carry on, carry on as if nothing really matters
Too late, my time has come,
Sends shivers down my spine, body's aching all
The time
Goodbye, everybody, I've got to go,
Gotta leave you all behind and face the truth
Mama, oooh
I don't want to die,
I sometimes wish I'd never been born at all.
I see a little silhouetto of a man,
Scaramouch, Scaramouch, will you do the Fandango!
Thunderbolts and lightning, very, very frightening me
Galileo, Galileo
Galileo, Galileo
Galileo, Figaro - magnificoo
I'm just a poor boy nobody loves me
He's just a poor boy from a poor family,
Spare him his life from this monstrosity
Easy come, easy go, will you let me go
Bismillah! No, we will not let you go
(Let him go!) Bismillah! We will not let you go
(Let him go!) Bismillah! We will not let you go
(Let me go) Will not let you go
(Let me go)(Never) Never let you go
(Let me go) (Never) let you go (Let me go) Ah
No, no, no, no, no, no, no
Oh mama mia, mama mia, mama mia, let me go
Beelzebub has a devil put aside for me, for me,
For meee
So you think you can stop me and spit in my eye
So you think you can love me and leave me to die
Oh, baby, can't do this to me, baby,
Just gotta get out, just gotta get right outta here
Nothing really matters, Anyone can see,
Nothing really matters,
Nothing really matters to me
Any way the wind blows...

In [70]:
#print (song_1)
# print(song_1.lower().replace('the', '').replace('?', '').replace(',', '').replace('-', '').replace('!', '')) 
filtered_song_1 = song_1.lower().replace('the', '').replace('?', '').replace(',', '').replace('-', '').replace('!', ''))

is this  real life
is this just fantasy
caught in a landside
no escape from reality
open your eyes
look up to  skies and see
i'm just a poor boy i need no sympathy
because i'm easy come easy go
little high little low
any way  wind blows doesn't really matter to
me to me
mamaaa
just killed a man
put a gun against his head pulled my trigger
now he's dead
mamaaa life had just begun
but now i've gone and thrown it all away
mama oooh
didn't mean to make you cry
if i'm not back again this time tomorrow
carry on carry on as if nothing really matters
too late my time has come
sends shivers down my spine body's aching all
 time
goodbye everybody i've got to go
gotta leave you all behind and face  truth
mama oooh
i don't want to die
i sometimes wish i'd never been born at all.
i see a little silhouetto of a man
scaramouch scaramouch will you do  fandango
thunderbolts and lightning very very frightening me
galileo galileo
galileo galileo
galileo figaro  magnificoo
i'm just a poor boy nobody loves me
he's just a poor boy from a poor family
spare him his life from this monstrosity
easy come easy go will you let me go
bismillah no we will not let you go
(let him go) bismillah we will not let you go
(let him go) bismillah we will not let you go
(let me go) will not let you go
(let me go)(never) never let you go
(let me go) (never) let you go (let me go) ah
no no no no no no no
oh mama mia mama mia mama mia let me go
beelzebub has a devil put aside for me for me
for meee
so you think you can stop me and spit in my eye
so you think you can love me and leave me to die
oh baby can't do this to me baby
just gotta get out just gotta get right outta here
nothing really matters anyone can see
nothing really matters
nothing really matters to me
any way  wind blows...