## Lecture 1

In [9]:
## Declaring string

In [10]:
my_name = 'Ruta'
my_surname = 'Spaicyte'
print(my_name)
print(my_surname)
my_text = 'very long and pretty sentence'
print(len(my_text))
print(my_text.find('pretty'))

Ruta
Spaicyte
29
14

### String functions

In [11]:
print(my_text)
print(my_text.capitalize())

                                                        ##  Why this doesn't work? 
                                                        # my_text.capitalize()
                                                        # print(my_text)

very long and pretty sentence
Very long and pretty sentence

In [12]:
my_upper = 'UPPER CASE SENTENCE'
print(my_upper.lower())

upper case sentence

In [13]:
my_text = 'very long and pretty sentence'
print(my_text)
print(my_text.upper())

very long and pretty sentence
VERY LONG AND PRETTY SENTENCE

In [14]:
# rstrip Remove any white spaces at the end of the string
my_text1='Very:long, pretty, good - sentence      ' #pay attention to spaces in the end
print(my_text1)
print(my_text1.rstrip())

Very:long, pretty, good - sentence
Very:long, pretty, good - sentence

In [15]:
# example dictionary
                                                        # using unicode a=97, b=98... https://www.learncpp.com/cpp-tutorial/chars/
                                                        # https://www.programiz.com/python-programming/methods/string/maketrans
dict = {"a": "123", "b": "456", "c": "789"}
string2 = "abc"
print(dict)
print(string2)
print(string2.maketrans(dict))

{'a': '123', 'b': '456', 'c': '789'}
abc
{97: '123', 98: '456', 99: '789'}

In [16]:
dict1 = {'r':'1',
        'o':'2',
        'c':'3'}
print(dict1)
string1= 'aoc'
print(string1)
print(string1.maketrans(dict1))

{'r': '1', 'o': '2', 'c': '3'}
aoc
{114: '1', 111: '2', 99: '3'}

In [17]:
# first string
firstString = "abc"
secondString = "ghi"
thirdString = "ab"

string = "abcdef"
print("Original string:", string)

translation = string.maketrans(firstString, secondString, thirdString)
print(translation)
# translate string
print("Translated string:", string.translate(translation))

Original string: abcdef
{97: None, 98: None, 99: 105}
Translated string: idef

In [18]:
txt2 = "For only {price} dollars!" #{price:.2f} would return 49.00
print(txt2.format(price = 49))

For only 49 dollars!

In [19]:
txt3='My name is {name}'
print(txt3.format(name = 'Ruta'))

My name is Ruta

In [20]:
txt4 = "  "
x = txt4.isspace()
print(x)

True

In [21]:
txt5 = "Hello, welcome to my world"
x = txt5.endswith(".")
print(x)

False

In [27]:
txt6 = "I like bananas"
x6 = txt6.replace("bananas", "apples")
print(x6)

I like apples

#### Need to come back

In [33]:
a = ("a", "b", "c", "d", "e", "f", "g", "h")
x = slice(2)
print(a[x])

('a', 'b')

In [70]:
# indexing
print(my_name[0])
print(my_name[-1])

R
a

In [72]:
# my_text = 'Darius and more text' more text ' # Error
my_text =  "Darius and more text' more text "
# my_text =  ""Darius and more text' more " text "" # Error
print (my_text)
my_text =  "Darius and more text\' more \" text " # option 2
print (my_text)
my_text =  """Darius and more text' more " text """ # option 3
print (my_text)

 Darius and more text' more " text
Darius and more text' more " text
Darius and more text' more " text

In [75]:
some_text = 'Some text \n new line Text' # \n - new line
print (some_text) # triple couotes preserves the structure
some_text = """ 
Some text 
new line Text
more text
hello
""" 
print (some_text)

Some text
 new line Text

Some text
new line Text
more text
hello

In [41]:
my_variable = \
    14

In [42]:
print(my_variable)

14

In [76]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [44]:
print (my_name)
print (my_surname)
print ( 'My name is ' + my_name + ' ' + my_surname )
print (my_name * 10 )
# my_name - 'ar' # error
# my_name / 'a' # error

Ruta
Spaicyte
My name is Ruta Spaicyte
RutaRutaRutaRutaRutaRutaRutaRutaRutaRuta

In [78]:
print ( 'My name is ' + my_name + ' ' + my_surname )
print ( 'My name is', my_name, my_surname )
# f-string- formatted string
print ( f'My name is {my_name} {my_surname}' ) # preferred way of formatting
print ( 'My name is {} {}'.format(my_name, my_surname) ) #old way

My name is Ruta Spaicyte
My name is Ruta Spaicyte
My name is Ruta Spaicyte
My name is Ruta Spaicyte

In [47]:
my_age = 26
print ( f'My name is {my_name} {my_surname} and I am {my_age} years old' ) # preferred way of formatting
print ( 'My name is {} {} and I am {} years old'.format(my_name, my_surname, my_age) )

My name is Ruta Spaicyte and I am 26 years old
My name is Ruta Spaicyte and I am 26 years old

In [83]:
# slicing for cutting
sentence = 'Hello World I am ,veryaggryshghappydfharytto learn Python!'
print(sentence)
print(sentence[0]) #index
print (sentence[45:] ) #learn Python!  
print (sentence[45:51] )
print (sentence[51] )
print (f"this")
print (sentence[10:51:2]) #every 2nd letter
# [start:end:step]  
print (f"here")
print (sentence[0:5])
print (sentence[0:5:2])
print (sentence[::])
print (sentence[::-1]) #reverse text

Hello World I am ,veryaggryshghappydfharytto learn Python!
H
learn Python!
learn
P
this
dIa vragyhhpyfayt er
here
Hello
Hlo
Hello World I am ,veryaggryshghappydfharytto learn Python!
!nohtyP nrael ottyrahfdyppahghsyrggayrev, ma I dlroW olleH

In [66]:
print(sentence)
print (sentence.find(',') )
print (sentence[sentence.find(',') ] )
print (sentence[:sentence.find('am') ] )

Hello World I am ,veryaggryshghappydfharytto learn Python!
17
,
Hello World I

In [84]:
# you get numbers but its actually text
text_with_numbers = '1,15,35,4158,354'
print(text_with_numbers)
print(text_with_numbers.split(','))
print(text_with_numbers.split(',')[3]) #this is still a string, a text
int( text_with_numbers.split(',')[3] ) #int -> changes to integer
#int( text_with_numbers.split(',')) #error cause didnt specity which one to change

1,15,35,4158,354
['1', '15', '35', '4158', '354']
4158

4158

In [89]:
sentence = 'Hello World I am ,veryaggryshghappydfharytto learn Python!'
print (sentence.replace(',veryaggryshghappydfharytto', 'very happy to' ) ) # does not rewrites variable
print (sentence)
sentence = sentence.replace(',veryaggryshghappydfharytto', 'very happy to' )
#need to reassign if i want to rewrite
sentence = sentence.replace(',veryaggryshghappydfharytto', 'very happy to' ).title()
print (sentence)

Hello World I am very happy to learn Python!
Hello World I am ,veryaggryshghappydfharytto learn Python!
Hello World I Am Very Happy To Learn Python!

In [86]:
print (sentence )
print (len('Hello World I am very happy to learn Python!'))
# print (type(sentence) )
print (sentence[len(sentence) - 7: ])
print (sentence[-7: ])

Hello World I Am Very Happy To Learn Python!
44
Python!
Python!

## Integers

In [90]:
my_int = 6
my_float = 6.

In [92]:
print(type(my_int))
print(type(my_float))

<class 'int'>
<class 'float'>

### Operators

In [94]:
print (3 - 9 )
print (3 * 9 )
print (3 / 9 )
print (3 / 3 )

-6
27
0.3333333333333333
1.0

In [99]:
print ('power of')
print (3 ** 9 ) #3^9 
print (3 ** 2 )

power of
19683
9

In [112]:
print ('division')
print (9 / 2 )
print (9 // 2 )  #how many full numbers can be. whole numnbers
print (11 / 3 )
print (11 // 3 )

division
4.5
4
3.6666666666666665
3

In [114]:
print( 'Remainder')
print (11 % 3 ) #how many numbers are less which i can divide by 3
print (6 % 5 ) #useful to check if number is even
print (4 % 5) #gives back the same
print (6 % 5) #i can divide once by 5 and the rest left is 1

Remainder
2
1
4
1

In [122]:
## Even and uneven
#if you want to take every 5th or smth from list. useful to use
print ('even',1465546 % 2)
print ('uneven',1465547 % 2)

even 0
uneven 1

## Boolean

In [126]:
my_bool = 1 > 2
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [128]:
my_bool_2 = True
my_bool_3 = False
# my_bad_bool = true Need capital T True
print(my_int)
is_even = my_int % 2 == 0

print (f'my_int is even {is_even}')

6
my_int is even True

In [132]:
print (f'equal to operator ==: { 1 == 1} ') #equal
print (f'equal to operator ==: { 1 == 10} ')
print (f'not equal to operator !=: { 1 != 1} ') #not equal
print (f'not equal to operator !=: { 1 != 10} ')

equal to operator ==: True
equal to operator ==: False
not equal to operator !=: False
not equal to operator !=: True

In [133]:
print (f'more to operator >: { 15 > 10} ')
print (f'more to operator >=: { 10 >= 10} ') #more equal
print (f'more to operator <: { 1 < 10} ')
print (f'more to operator <=: { 10 <= 10} ')

more to operator >: True
more to operator >=: True
more to operator <: True
more to operator <=: True

In [137]:
# True and True
10 > 2 and 2 < 5

True

In [138]:
# True and False
10 > 2 and 10 < 5

False

In [139]:
# False or False
10 > 20 or 10 < 5

False

In [140]:
# True or False
10 > 2 or 10 < 5

True

In [141]:
# False or False
10 > 20 or 10 < 5

False

In [142]:
True and 10 > 5 and 10 % 2 == 0 or False #go from left to right
# <-- True ---> and <-- True -> or 
# <-- True ------------ True -> or

True

In [143]:
True and 10 > 5 and 11 % 2 == 0 or False
# <-- True ---> and <- False -> or 
# <--  --------False-------- -> or False

False

In [145]:
#change something to boolean
print (bool('Some text' ) )  #true because not empty
print (bool('') ) 
print (bool(' ') )

True
False
True

In [146]:
print (bool(5) ) #when im changing 5 to boolean it becomes true, but 0 becomes false
print (bool(0) ) 
print (bool(1) ) 
print (bool(-1) ) 
print (bool(-51494898498749) ) 
# not 0 true, 0=false

True
False
True
True
True

In [148]:
# same with integers as with floats
print (bool(5.0) ) 
print (bool(0.0) ) 
print (bool(1.0) ) 
print (bool(-1.) ) 
print (bool(-51494898498749.) ) 
print (bool(0.5) ) 
print (bool(0.00000001) )

True
False
True
True
True
True
True

In [151]:
# flip true or false
print (5 > 2)
print (not 5 > 2)

True
False

In [153]:
not_even = not 10 % 2 == 0
print (not_even)
not_even_2 = 10 % 2 != 0
print (not_even_2)
# both gives same results

False
False

In [157]:
# sum = 0
# sum = sum + 5
# sum = sum + 10
# sum = sum - 3
# print (sum)

sum = 0
sum += 5
sum += 10
sum -= 3
print (sum)
# kinda shortcut. shorter version

12

In [154]:
multiply = 1
multiply *= 10
multiply *= 10
multiply *= 10
print (multiply)

1000

## membership operator

In [156]:
# eant to check if something exists in bigger thing. 
text = 'Hello world'
print ('world' in text ) #if world exsits in my text
print ('World' in text ) #incorrect
print ('World ' in text ) #incorrect
print ('Darius' not in text )

True
False
False
True

## LIST

In [159]:
my_list = [ 1, 5, 10, 15 ]
type (my_list)

list

In [161]:
print ('lenght: ',len(my_list ) )
print ('1st variable value: ', my_list[0] )
print ('slice: ', my_list[2:] ) #give me everything from 2 to end. it gives back in list form

lenght:  4
1st variable value:  1
slice:  [10, 15]

In [162]:
my_list_2 = [ 10, 1, 1, 2, 2, 'Darius', 'Vilnius', True , 1 > 10] #can put anything inside list
print( my_list_2)

[10, 1, 1, 2, 2, 'Darius', 'Vilnius', True, False]

In [169]:
my_list_3 = [ 1, 5, 1, 14984, 10, 15, 54 ]
print (my_list_3)
my_list_3.sort() #methods as in strings. in ascending order all numbers
print (my_list_3)

[1, 5, 1, 14984, 10, 15, 54]
[1, 1, 5, 10, 15, 54, 14984]

In [170]:
my_list_3.sort(reverse=True) #print in reverse order already sorted list
print (my_list_3)
#can use slicing as well
print (my_list_3[::-1])

[14984, 54, 15, 10, 5, 1, 1]
[1, 1, 5, 10, 15, 54, 14984]

In [185]:
#can create list in a list
my_list_4 = [ 1, 5, 1, ['New list inside', "Vilnius"], 10, 15, 54 ]
print (my_list_4)
print (my_list_4[3])

[1, 5, 1, ['New list inside', 'Vilnius'], 10, 15, 54]
['New list inside', 'Vilnius']

## lesson 4

In [186]:
print (my_list_4 )
my_list_4[1] = 100 #change value of a list
print (my_list_4)

[1, 5, 1, ['New list inside', 'Vilnius'], 10, 15, 54]
[1, 100, 1, ['New list inside', 'Vilnius'], 10, 15, 54]

In [190]:
#change a value of a list in another list
print (my_list_4)
print(my_list_4[3]) #find that list inside another list
print (my_list_4[3][0]) #1st value of inside list "New list inside"
my_list_4[3][0] = 'HAHA' #change to HAHA
print(my_list_4)

[1, 100, 1, ['New list inside', 'Vilnius'], 10, 15, 54]
['New list inside', 'Vilnius']
New list inside
[1, 100, 1, ['HAHA', 'Vilnius'], 10, 15, 54]

In [ ]:
# import numpy as np #to use arrays. Question from classmate
# np.ones( (5,5) )

List are more like vectors which can change overtime
arrays are fixed

In [193]:
#adding lists
([1,2,3] + ['a', 'b', 'c'] )
#can multiply as well ([1,2,3] + ['a', 'b', 'c'] ) * 10
#can't substract and divide

[1, 2, 3, 'a', 'b', 'c']

Lists methods

In [203]:
my_list = [1,2,3]
print (my_list)
my_list.append(5) #append- you provide a single value which you want to add. adds to the end
print (my_list)
my_list.append('abs')
print (my_list)
my_list.append( [10,100,1000] )
print (my_list)

[1, 2, 3]
[1, 2, 3, 5]
[1, 2, 3, 5, 'abs']
[1, 2, 3, 5, 'abs', [10, 100, 1000]]

In [204]:
print (my_list)
my_list.extend('abs') #similar to append. added as seperate items
my_list.extend([156])
print (my_list)
my_list.extend( [10,100,1000] )
print (my_list)
#better than append cause ads as items and not as a list (no [] brackets)

[1, 2, 3, 5, 'abs', [10, 100, 1000]]
[1, 2, 3, 5, 'abs', [10, 100, 1000], 'a', 'b', 's', 156]
[1, 2, 3, 5, 'abs', [10, 100, 1000], 'a', 'b', 's', 156, 10, 100, 1000]

In [205]:
poped_value = my_list.pop() #deletes single value (from the end) and gives it back to you
print (poped_value)
print (my_list)
poped_value = my_list.pop()
print (poped_value)
print (my_list)
poped_value = my_list.pop(0) #can specify which value you want to be taken
print (poped_value)
print (my_list)
#useful to use in the que

1000
[1, 2, 3, 5, 'abs', [10, 100, 1000], 'a', 'b', 's', 156, 10, 100]
100
[1, 2, 3, 5, 'abs', [10, 100, 1000], 'a', 'b', 's', 156, 10]
1
[2, 3, 5, 'abs', [10, 100, 1000], 'a', 'b', 's', 156, 10]

In [206]:
#works similar to append
print (my_list)
my_list.insert(3, "new_text")
print (my_list)

[2, 3, 5, 'abs', [10, 100, 1000], 'a', 'b', 's', 156, 10]
[2, 3, 5, 'new_text', 'abs', [10, 100, 1000], 'a', 'b', 's', 156, 10]

In [207]:
print (my_list)
my_list.remove('a') # will give an error if does not exist (for  eg if i will run again)
print (my_list)

[2, 3, 5, 'new_text', 'abs', [10, 100, 1000], 'a', 'b', 's', 156, 10]
[2, 3, 5, 'new_text', 'abs', [10, 100, 1000], 'b', 's', 156, 10]

In [216]:
#index gives index or a value. if you dont know if you have a specific value
print (my_list)
print (my_list.index(10))

[2, 3, 5, 'new_text', 'abs', [10, 100, 1000], 'b', 's', 156, 10]
9

In [224]:
print (my_list)
my_index = my_list.index(10) 
print (my_index) #gives value of the last number. doesnt check inside that insider list
print (my_list[my_index] ) #gives me position. where exactly number is located
#need to be sure that this value is in the list

[2, 3, 5, 'new_text', 'abs', [10, 100, 1000], 'b', 's', 156, 10]
9
10

In [ ]:
#my_list.index(15419)  # Errorm not found
index_10 = my_list.index([10, 100, 1000]) 
print (index_10 )
print (my_list[index_10] )

In [ ]:
# my_list.clear() # deletes everything

In [225]:
# counts how many values there are in the list
my_list.extend([5,5,5,5,5])
print (my_list)
my_list.count(5) #counting how many fives i have. works only for integers

[2, 3, 5, 'new_text', 'abs', [10, 100, 1000], 'b', 's', 156, 10, 5, 5, 5, 5, 5]

6

In [226]:
#reverses our list
my_list.reverse()
my_list

[5, 5, 5, 5, 5, 10, 156, 's', 'b', [10, 100, 1000], 'abs', 'new_text', 5, 3, 2]

# Mutable vs immutable

In [229]:
# immutable - if one changed another wont change
a = 1
b = a
b += 1 
print(a)
print(b)
print( id(a) ) #shows identity of an object. where it is located in memory
print( id(b) ) #they are sligtly different

1
2
4312709424
4312709456

In [231]:
# mutable
list_1 = [1,2,3]
list_2 = list_1
list_2.append(100) #we only appended list2 but both get these values
print(list_1)
print(list_2)
print( id(list_1) )
print( id(list_2) )
#when you are assigning one list to another it doesnt make a copy but references same thing

[1, 2, 3, 100]
[1, 2, 3, 100]
4375308224
4375308224

In [232]:
# Fixing mutability (Solution 1). 
list_1 = [1,2,3]
list_2 = list_1.copy() #return a shallow (pavirsutiniska) copy of a list 
list_2.append(100) #we only appended list2 but both get these values
print(list_1)
print(list_2)
print( id(list_1) )
print( id(list_2) )

[1, 2, 3]
[1, 2, 3, 100]
4375309760
4362951232

In [234]:
# what if i have list1 which have another list inside?
list_1 = [1,2,[1,0,100] ]
list_2 = list_1.copy() #copies only the TOP layer
list_2[2].append(100) #appended NOT top level list, but the one which is indside
print(list_1)
print(list_2)
print( id(list_1) )
print( id(list_2) )
#we have the same problem again
#both lists changes, but ids ar different

[1, 2, [1, 0, 100, 100]]
[1, 2, [1, 0, 100, 100]]
4375329728
4375309760

In [235]:
# continue
# what if i have list1 which have another list inside?
list_1 = [1,2,[1,0,100] ]
list_2 = list_1.copy()
#list_2.append(100)
list_2[2].append(100)
print(list_1)
print(list_2)
print( id(list_1) ) #ids of these two are different
print( id(list_2) )

print( id(list_1[2]) ) #ids of smaller list is the same
print( id(list_2[2]) )

[1, 2, [1, 0, 100, 100]]
[1, 2, [1, 0, 100, 100]]
4375325888
4375400896
4375176448
4375176448

In [237]:
# Fixing mutability (Solution 2). BEST SOLUTION
import copy #library called copy
list_1 = [1,2,[1,0,100] ]
list_2 = copy.deepcopy(list_1) #deepcopy-copies EVERY layer inside my list
list_2[2].append(50)
print(list_1)
print(list_2)
print( id(list_1) )
print( id(list_2) )
print( id(list_1[2]) )
print( id(list_2[2]) )

[1, 2, [1, 0, 100]]
[1, 2, [1, 0, 100, 50]]
4375513664
4375400896
4375325888
4375402240

In [239]:
print (my_list)
print('b' in my_list) # check if values are in the list. keyword IN
print(153 in my_list) 
#useful after remove or index functions

[5, 5, 5, 5, 5, 10, 156, 's', 'b', [10, 100, 1000], 'abs', 'new_text', 5, 3, 2]
True
False

In [240]:
# List tasks in another doc

## Tuple

In [243]:
# similar to list, you just use () brackets not []. 
# you cant't change values in tuple
my_tuple = (1, 1, 'a', 'b', 'ab' )
print (my_tuple)
print (my_tuple[:3] )
print (my_tuple[4])

(1, 1, 'a', 'b', 'ab')
(1, 1, 'a')
ab

In [244]:
print (f'lenght of the tuple: {len (my_tuple)}' )
print (f'count of 1 in tuple: {my_tuple.count(1)}' ) 
print (f"count of 'c' in tuple: {my_tuple.count('a')}" )
print (f"check if 'b' is in tuple: { 'b' in my_tuple}" )
print (f"check 'b' index in tuple: { my_tuple.index('b')}" )

# my_tuple[2] = 'c' # Error, can't do that because you cant change sthe va,lues of it

lenght of the tuple: 5
count of 1 in tuple: 2
count of 'c' in tuple: 1
check if 'b' is in tuple: True
check 'b' index in tuple: 3

In [245]:
# can create new tuple by adding exsiting tuples
tuple_1 = (1,2,3)
tuple_2 = (4,5,3)
tuple_3 = tuple_1 + tuple_2
print(tuple_3)

(1, 2, 3, 4, 5, 3)

In [247]:
# changing value of number inside the tuple
# tuple_3[3] = 10 won't work
tmp_list = list(tuple_3) # can change tuple into list
print (tmp_list)

[1, 2, 3, 4, 5, 3]

In [249]:
tmp_list = list(tuple_3)
print (tmp_list)
tmp_list[3] = 111
tuple_3 = tuple(tmp_list) #then change back to tuple
print (tuple_3)

[1, 2, 3, 10, 5, 3]
(1, 2, 3, 111, 5, 3)

In [ ]:
tuple1 = (11, [222, 33], 44, 55)
print (tuple1)
tmp_list = list(tuple1)
print (tmp_list[1])
tmp_list[1][1] = 22
tuple1 = tuple(tuple1)
print (tuple1)

In [ ]:
tuple1 = (11, [222, 33], 44, 55)
print (tuple1)
tuple1[1][1] = 22
print (tuple1)

## Range

In [257]:
print(range(10)) # need to add that its list if i want all sequence
print (list(range(10) ) )
print (list(range(5, 10) ) ) #from 5 to 10. last number not included
print (list(range(25, 50, 5) ) ) #STEP - every 5th.
print (list(range(50, 25, -5) ) )
# when you want to iterate, or do something for a few times

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[25, 30, 35, 40, 45]
[50, 45, 40, 35, 30]

In [258]:
# check what type is it
print (type( range(10) ) )
print (type( [1,5,3] ) )
print (type( (1,5,3) ) )
print (type( my_tuple ) )

<class 'range'>
<class 'list'>
<class 'tuple'>
<class 'tuple'>

## For loop

In [259]:
cities = ['Vilnius', 'Kaunas', 'London']
for city in cities:
    print (f'City is called {city}') #4 spaces means this command belongs to this loop above
print ("went through all cities")

City is called Vilnius
City is called Kaunas
City is called London
went through all cities

In [263]:
for i in range(5): #i = index
    print (f'index is {i}')
print ("all done")

index is 0
index is 1
index is 2
index is 3
index is 4
all done

In [264]:
for i in range(5,50,5):
    print (f'index is {i}')
print ("all done")

index is 5
index is 10
index is 15
index is 20
index is 25
index is 30
index is 35
index is 40
index is 45
all done

In [ ]:
days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' , 'Sunday')
hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

combinations = []
for day in days:
    print(day)
    for hour in hours:
        print (hour)
        combination = (day,hour)
        combinations.append( combination )
    print ('Checking next day')

print (combinations)

In [268]:
#input
text = input("enter something")
print (text)

65

In [266]:
number = input("enter a number")
print (number) #123, its a string type
print (type(number) )
print (type( int( number) ) )

123
<class 'str'>
<class 'int'>

## If declaration

In [3]:
if 5 > 1:
    print ('That is true')
# if 0 > 1:
#     print ('That is true') it will print just end
print ('end of script')

That is true
end of script

In [6]:
number = 19
if number > 10:
    print ('number is more than ten')
else: #2nd level of if
    print ('number is less or equal 10') 

print ('end of script')

number is more than ten
end of script

In [11]:
#3rd level of if
name = 'Darius'
year = 2005

if name == 'Linas':
    print ('Hi Linas')
elif name == 'Darius' and year > 2000: #executes this
    print ('Hi Darius')
else: #skip this
    print ('Hi unknown person')
print ('end of script')

Hi Darius
end of script

In [15]:
name = 'Darius'
year = 2005

if name == 'Linas':
    print ('Hi Linas')
elif year > 2000:
    print ('year is greater than 2000')
elif name == 'Darius' and year > 2000: # will never execute this because of year
    print ('Hi Darius') 
else:
    print ('Hi unknown person') 
print ('end of script')
# it only checks for 1st statemnet which is true and skips everything else even if its true
#ORDER IS IMPORTANT WITH ELIF

year is greater than 2000
end of script

In [18]:
# correction of above ^
name = 'Darius'
year = 2005
if name == 'Linas':
    print ('Hi Linas')
elif year > 2000:
    print ('year is greater than 2000')
    if name == 'Darius':
        print ('Hi Darius') # will be executed if name is Darius 
else:
    print ('Hi unknown person')
print ('end of script')

year is greater than 2000
Hi Darius
end of script

In [20]:
#if will check all statemnst and return all what is true
name = 'Darius'
year = 2000

if name == 'Linas':
    print ('Hi Linas')
if year > 2000:
    print ('year is greater than 2000')
if name == 'Darius' and year > 2000:
    print ('Hi Darius') # will never execute this
# else:
#     print ('Hi unknown person')
print ('end of script')
# all commands will be executed if these statements are true

end of script

In [22]:
for number in range(0,31):
    if number % 3 == 0: #its divided by 3 with no left values
        print (number)

0
3
6
9
12
15
18
21
24
27
30

In [24]:
my_list = list(range(110,213,4))
print (my_list)

for number in range(0,len(my_list)):
    if number % 7 == 0:
        print (number)
# what if i want every 7th number from this list?

[110, 114, 118, 122, 126, 130, 134, 138, 142, 146, 150, 154, 158, 162, 166, 170, 174, 178, 182, 186, 190, 194, 198, 202, 206, 210]
0
7
14
21

In [25]:
# what if i want every 7th number from this list?
my_list = list(range(110,213,4))
print (my_list)

for idx in range(0,len(my_list)):
    if idx % 7 == 0:
        print (my_list[idx])

[110, 114, 118, 122, 126, 130, 134, 138, 142, 146, 150, 154, 158, 162, 166, 170, 174, 178, 182, 186, 190, 194, 198, 202, 206, 210]
110
138
166
194

showing tasks as well

Get the amount of
the first 50 digits
inclusive only if the
new current amount
is even

In [26]:
my_sum = 0

for number in range(1,51):
    if (my_sum + number) % 2 == 0:
        my_sum += number
        print (my_sum)

2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650

Get all possible combinations from these
lists only if the day is either Monday or
Wednesday and the hours are from 12 to
17, enter them in the list

days = (‘Monday’, ‘Tuesday’, ‘Wednesday’, ‘Thursday’, ‘Friday’, ‘Saturday’ , ‘Sunday’)
hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [27]:
days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' , 'Sunday')
hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

available_days = [ 'Monday', 'Wednesday']
available_hours = [12, 13, 14, 15, 16, 17]

combinations = []
for day in days:
    if day in available_days:
        print(day)
        for hour in hours:
            if hour in available_hours:
                print (hour)
                combination = (day,hour)
                combinations.append(combination)
        print ('Checking next day')

print (combinations)

Monday
12
13
14
15
16
17
Checking next day
Wednesday
12
13
14
15
16
17
Checking next day
[('Monday', 12), ('Monday', 13), ('Monday', 14), ('Monday', 15), ('Monday', 16), ('Monday', 17), ('Wednesday', 12), ('Wednesday', 13), ('Wednesday', 14), ('Wednesday', 15), ('Wednesday', 16), ('Wednesday', 17)]

In [28]:
my_list = []
my_list.append( "some text" )
my_list.append( "new text" )
print (my_list)

['some text', 'new text']

## List comprehension

In [30]:
#if we want to multiply all values by 2
my_list = [5,4,74,8]
mult_2 = [number*2  for number in my_list ]
print(mult_2)

[10, 8, 148, 16]

In [33]:
my_list = [5,4,74,7]
#RESULT for STH in iterable (kartojamas)]
mult_2 = [number*2 for number in my_list \
if number % 2 == 0 ] #only even numbers will be multiplied
print(mult_2)

[8, 148]

In [40]:
my_list4 = [1,2,3,4,5,6]
mult= [number*2 if number % 2 == 0 else number * 3 for number in my_list4 ]
# if nr is dividible 2 will be multiplied by 2, if not multiplied by 3
print(mult)

[3, 4, 9, 8, 15, 12]

In [44]:
#random
my_list = [5,4,74,7]
#mult_2 = [number for number in my_list if number % 2 == 0 ] #only even numbers should be multiplied
mult_2 = [(number, number * 2) for number in my_list if number % 2 == 0 ]
print(mult_2)

[(4, 8), (74, 148)]

In [42]:
my_list = [5,4,74,7]
mult_2 = [number for number in my_list if number % 2 == 0 ]
print(mult_2)

[4, 74]

In [45]:
#same as ^
my_list = [5,4,74,7]
even = []
for number in my_list:
    if number % 2 == 0:
        even.append(number)
        # even.append((number, number * 2)) #from random
print (even)

[4, 74]

In [46]:
my_list = [5,4,74,7]
# [RESULT for STH in ITERABLE]
mult = [number*2 if number % 2 == 0 else number*3 for number in my_list ]
print(mult)

[15, 8, 148, 21]

In [49]:
my_list = [5,4,74,7, 4598, 4163 ,4984 ,784 ,345 ,46968, 36999]
even =  [1 for number in my_list if number % 2 == 0 ]
print(even)
count_even = sum(even)
print(count_even)

[1, 1, 1, 1, 1, 1]
6

In [37]:
days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' , 'Sunday')
hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

valid_days = [ 'Monday', 'Wednesday']
valid_hours = [12, 13, 14, 15, 16, 17]

combinations = [ (day, hour) for day in days for hour in hours]
print(combinations)

[('Monday', 10), ('Monday', 11), ('Monday', 12), ('Monday', 13), ('Monday', 14), ('Monday', 15), ('Monday', 16), ('Monday', 17), ('Monday', 18), ('Monday', 19), ('Tuesday', 10), ('Tuesday', 11), ('Tuesday', 12), ('Tuesday', 13), ('Tuesday', 14), ('Tuesday', 15), ('Tuesday', 16), ('Tuesday', 17), ('Tuesday', 18), ('Tuesday', 19), ('Wednesday', 10), ('Wednesday', 11), ('Wednesday', 12), ('Wednesday', 13), ('Wednesday', 14), ('Wednesday', 15), ('Wednesday', 16), ('Wednesday', 17), ('Wednesday', 18), ('Wednesday', 19), ('Thursday', 10), ('Thursday', 11), ('Thursday', 12), ('Thursday', 13), ('Thursday', 14), ('Thursday', 15), ('Thursday', 16), ('Thursday', 17), ('Thursday', 18), ('Thursday', 19), ('Friday', 10), ('Friday', 11), ('Friday', 12), ('Friday', 13), ('Friday', 14), ('Friday', 15), ('Friday', 16), ('Friday', 17), ('Friday', 18), ('Friday', 19), ('Saturday', 10), ('Saturday', 11), ('Saturday', 12), ('Saturday', 13), ('Saturday', 14), ('Saturday', 15), ('Saturday', 16), ('Saturday', 17), ('Saturday', 18), ('Saturday', 19), ('Sunday', 10), ('Sunday', 11), ('Sunday', 12), ('Sunday', 13), ('Sunday', 14), ('Sunday', 15), ('Sunday', 16), ('Sunday', 17), ('Sunday', 18), ('Sunday', 19)]

In [36]:
days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' , 'Sunday')
hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

valid_days = [ 'Monday', 'Wednesday']
valid_hours = [12, 13, 14, 15, 16, 17]

combinations = [ (day, hour) for day in days for hour in hours \
if day in valid_days and hour in valid_hours ]
print(combinations)

[('Monday', 12), ('Monday', 13), ('Monday', 14), ('Monday', 15), ('Monday', 16), ('Monday', 17), ('Wednesday', 12), ('Wednesday', 13), ('Wednesday', 14), ('Wednesday', 15), ('Wednesday', 16), ('Wednesday', 17)]

## Dictionary

In [50]:
my_dictionary = {
    'name': 'Darius', #eeds to be separeted by column
    'year': 2008,
    False: 'false',
    5: 'five',
    'hobbies': ['tennis', 'football'] #list 
}
#can be anything. n

In [51]:
my_dictionary['hobbies']

['tennis', 'football']

In [58]:
print (my_dictionary['year'] )

2008

In [53]:
#how to overwrite or add new value
my_dictionary['city'] = 'Vilnius'
print (my_dictionary)
my_dictionary['city'] = 'Kaunas' #single-unique key in dict, cant be multiple keys
print (my_dictionary)

{'name': 'Darius', 'year': 2008, False: 'false', 5: 'five', 'hobbies': ['tennis', 'football'], 'city': 'Vilnius'}
{'name': 'Darius', 'year': 2008, False: 'false', 5: 'five', 'hobbies': ['tennis', 'football'], 'city': 'Kaunas'}

In [54]:
#how many pairs there are
print (len(my_dictionary))

6

dictionary functions

In [78]:
# my_dictionary.clear() # deletes all pairs
print (my_dictionary)
print (type( my_dictionary) )

{'name': 'Darius', 'year': 2008, 5: 'five', 'hobbies': ['tennis', 'football'], 'city': 'Palanga', 'City': 'Palanga'}
<class 'dict'>

In [79]:
my_dictionary.copy() # mutable. they can change other dictiuonary which they are assign to
print (my_dictionary)

{'name': 'Darius', 'year': 2008, 5: 'five', 'hobbies': ['tennis', 'football'], 'city': 'Palanga', 'City': 'Palanga'}

In [80]:
# my_dictionary.fromkeys
#Create a new dictionary with keys from iterable and values set to value.
tmp_dict = dict.fromkeys(['sum','mult_sum', 'div_sum'], 0) #dict with all values 0
print (tmp_dict)

{'sum': 0, 'mult_sum': 0, 'div_sum': 0}

In [81]:
print (my_dictionary.get('city') ) 
print (my_dictionary['city'] ) 

# difference when we ask for value which doesnt exsisits
print (my_dictionary.get('address') ) 
#print (my_dictionary['address'] ) #gives error

Palanga
Palanga
None

In [82]:
print (my_dictionary.get('address', False) )
if my_dictionary.get('address', False) == False:
    print ("Dictionary does not contain 'address' info")

False
Dictionary does not contain 'address' info

In [83]:
#deletes single value and gives it back to you
print (my_dictionary.pop(False) ) # gives an error on 2nd run

KeyError: False

In [84]:
my_dictionary.popitem() # gives back a pair (one key and one value)

('City', 'Palanga')

In [86]:
#creates a new key. SOMETHING IS WRONG> different from teacher
my_dictionary.setdefault('city', 'Palanga')
print (my_dictionary.setdefault('city', 'Palanga') )
print (my_dictionary.setdefault('City', 'Palanga'))
print (my_dictionary)

Palanga
Palanga
{'name': 'Darius', 'year': 2008, 5: 'five', 'hobbies': ['tennis', 'football'], 'city': 'Palanga', 'City': 'Palanga'}

In [87]:
new_dict = {
    'key': 'value of key', #new so will be added
    'sum': 10, 
    'city': 'Vilnius' #will be overwritten
}

#allows to update with another dictionary
my_dictionary.update(new_dict)
print (my_dictionary)

{'name': 'Darius', 'year': 2008, 5: 'five', 'hobbies': ['tennis', 'football'], 'city': 'Vilnius', 'City': 'Palanga', 'key': 'value of key', 'sum': 10}

In [88]:
#we can iterate through dictionaries

for key, value in my_dictionary.items(): # will give keys and values (k,v)
    print (f'key {key} has a value of {value}')

key name has a value of Darius
key year has a value of 2008
key 5 has a value of five
key hobbies has a value of ['tennis', 'football']
key city has a value of Vilnius
key City has a value of Palanga
key key has a value of value of key
key sum has a value of 10