## String tasks

In [1]:
# 1. Print name and surname
my_name = 'Ruta'
my_surname = "Spaicyte"
print(my_name, my_surname)

Ruta Spaicyte

In [2]:
#2.1 From the string ‘Python makes me really really happy!’ Display the string in uppercase only
My_string = 'Python makes me really really happy!'
print(My_string)
print(My_string.upper())
print(My_string)

Python makes me really really happy!
PYTHON MAKES ME REALLY REALLY HAPPY!
Python makes me really really happy!

In [8]:
#2.2 Replace Python with PyThOn using replace()
print(My_string.replace('t','T').replace('o','O')) #replaces all t and o
print(My_string.replace('Python', 'PyThOn') )

PyThOn makes me really really happy!
PyThOn makes me really really happy!

In [26]:
#From the string ‘Hello World, I am happy to learn Python!’
#3.1 1. Print ‘happy’ using slice syntax str [0:10].index (‘happy’) len (‘happy’)
my_string2 = "Hello World, I am happy to learn Python!"
print(my_string2)
#print(my_string2[18:23])
word_to_find = 'happy'
print(my_string2.index(word_to_find))
# print(my_string2[my_string2.index(word_to_find):])
print(my_string2[my_string2.index(word_to_find):my_string2.
                            index(word_to_find)+len(word_to_find)])

Hello World, I am happy to learn Python!
18
happy

            ## Don't get this ^^

In [24]:
#3.2 Print ‘to’ using slice syntax
print (my_string2.find('to'))
print(my_string2[24:26])
#3.3 What is the length of this string?
print(len(my_string2))

24
to
40

## From lesson 3

## Int, float tasks

Declare two int variables
of type
1. Calculate the sum of
two int, the
difference, the
product, the
remainder, divide
one number by
another

In [34]:
my_int1 = 12
my_int2 = 7
print(f'sum: {my_int1 + my_int2}')
print(f'substract: {my_int1 - my_int2}')
print(f'multiply: {my_int1 * my_int2}')
print(f'divide: {my_int1 / my_int2}')
print(f'power of: {my_int1 ** my_int2}')
print(f'modulus: {my_int1 % my_int2}')

sum: 19
substract: 5
multiply: 84
divide: 1.7142857142857142
power of: 35831808
modulus: 5

Declare two float-type
variables
1. Calculate the sum,
difference, product,
remainder of two
floats, divide by one
number from
another

In [35]:
my_float1 = 12.1234
my_float2 = 7.383
print(f'sum: {my_float1 + my_float2}')
print(f'substract: {my_float1 - my_float2}')
print(f'multiply: {my_float1 * my_float2}')
print(f'divide: {my_float1 / my_float2}')
print(f'power of: {my_float1 ** my_float2}')
print(f'modulus: {my_float1 % my_float2}')

sum: 19.5064
substract: 4.7404
multiply: 89.50706220000001
divide: 1.6420696193959095
power of: 100091961.48700161
modulus: 4.7404

Calculate
1. The distance to the Moon is about
384,000 km, and to the Sun
150,000,000, how many times the
distance to the Sun is greater than
to the Moon?

In [36]:
dist_moon = 384000
dist_sun = 150000000
print(dist_sun/dist_moon)

390.625

2. If we want to drive to the moon in a
car with a speed of 150km / h, how
many hours, years, months, days,
seconds would it take?

In [37]:
speed = 150
print (f'seconds to the moon {dist_moon/speed*3600}')
print (f'hours to the moon {dist_moon/speed}')
print (f'days to the moon {dist_moon/speed/24}')
print (f'months to the moon {dist_moon/speed/24/30}')
print (f'years to the moon {dist_moon/speed/24/30/12}')

seconds to the moon 9216000.0
hours to the moon 2560.0
days to the moon 106.66666666666667
months to the moon 3.555555555555556
years to the moon 0.29629629629629634

3. How many days have passed since
your birthday?

In [41]:
import datetime

print(datetime.datetime.now()) #how librarys work
my_birthday = datetime.date(1995,6,26)
datetime.datetime.now().date()-my_birthday #timedelta - time difference

2021-12-03 22:19:41.587849

datetime.timedelta(days=9657)

In [62]:
# import datetime - for current date
import datetime

print (datetime.datetime.now() )
my_birthday = datetime.date(1995,6,26)
datetime.datetime.now().date() - my_birthday

#how long it would take to reach the moon
delta = datetime.timedelta(seconds=dist_moon/speed*3600)
print (f'We would reach the moon on \
    {datetime.datetime.now() + delta}')

2021-12-04 22:31:30.985002
We would reach the moon on     2022-03-21 14:31:30.994975

In [49]:
# import datetime - for current date
from datetime import datetime
from datetime import timedelta
from datetime import date # if i work just with date 

# datetime.date

print (datetime.now() )
my_birthday = date(1995,6,26)
datetime.now().date() - my_birthday

#how long it would take to reach the moon
delta = timedelta(seconds=dist_moon/speed*3600)
print (f'We would reach the moon on {datetime.now() + delta}')

2021-12-04 22:04:23.534840
We would reach the moon on 2022-03-21 14:04:23.538971

## Boolean tasks

Declare True
1. Declare a True value
in 5 different ways

In [58]:
print(2<4)

print (not 1 > 2)

print(23 != 34)

text = 'Hello world'
print ('world' in text)

print (bool('Some text' ) )  #true because not empty

True
True
True
True
True

Declare False
1. Declare a False
value in 5 different
ways

In [60]:
print(19<4)

print (not 3 > 2)

print(23 != 23)

text = 'Hello world'
print ('World' in text)

print (bool("") )

False
False
False
False
False

Declare False
1. Using only int type data
2. Only string type data

In [63]:
#1. 
print(23 != 23)

False

In [65]:
#2. 
text = 'Hello world'
print ('world ' in text)

False

## List tasks

 Declare list type
variable, get its length,
add a new element

The element is added using the
variable.append () method

In [99]:
my_list = [9,8,7,65]
print(my_list)
print(len(my_list))
my_list.append(7) #need to add in separate lines?
my_list.append(23)
print(my_list)

[9, 8, 7, 65]
4
[9, 8, 7, 65, 7, 23]

Check if the item is on
your list

The verification method is in:
desired_value in your_list

In [100]:
print(my_list)
print(65 in my_list)

[9, 8, 7, 65, 7, 23]
True

Add two lists, remove the last member from
your list, sort the list, count how many entries
there are in the list

Useful methods to transform a list:
1. list_name.remove (desired_value)
2. list_name.pop (0) - delete the first value from the list
3. list_name.append (desired_value) - adds a new value to the
end of existing list
4. list_name.sort () - aligns the list
5. list_name.count (return_value) - returns the number of
desired_value in the list

In [101]:
my_list_2 = [1,2,3]
print(my_list_2)
print(my_list)

[1, 2, 3]
[9, 8, 7, 65, 7, 23]

In [102]:
both_lists = my_list + my_list_2 #add
print(both_lists)

[9, 8, 7, 65, 7, 23, 1, 2, 3]

In [103]:
print(both_lists)
both_lists.remove(3) #remove the last member from your list
print(both_lists)

[9, 8, 7, 65, 7, 23, 1, 2, 3]
[9, 8, 7, 65, 7, 23, 1, 2]

In [104]:
print(both_lists)
both_lists.sort() # is there a function to sort if you have strings & integers in the list????
print(both_lists)

[9, 8, 7, 65, 7, 23, 1, 2]
[1, 2, 7, 7, 8, 9, 23, 65]

In [111]:
print(both_lists.count(7)) #how many number 7 i have in list
print(len(both_lists)) #count how many entries there are in the list

2
8

## Tuple tasks

Get value
my_tuple = (1, 2, ['3', 4, 5], [6, [7, (8)]])
Display ‘8’ on the screen

In [127]:
my_tuple_tasks = (1, 2, ['3', 4, 5], [6, [7, (8)]])
print(my_tuple_tasks)
print (my_tuple_tasks[3][1][1])
print (my_tuple_tasks[-1][-1][-1]) #same as ^

(1, 2, ['3', 4, 5], [6, [7, 8]])
8
8

Change the value
tuple1 = (11, [222, 33], 44, 55)
tuple1 = (11, [222, 22], 44, 55)

In [128]:

tuple1 = (11, [222, 33], 44, 55)
print(tuple1)
tmp_list = list(tuple1)
print(tuple1)
print(tuple1[1][1])
tmp_list[1][1] = 22
print(tmp_list)
tmp_list = tuple(tuple1)
print(tmp_list)

(11, [222, 33], 44, 55)
(11, [222, 33], 44, 55)
33
[11, [222, 22], 44, 55]
(11, [222, 22], 44, 55)

In [129]:
# shorter way
# all functionality works in top level. if there is a list inside - you can do whatever
tuple1 = (11, [222, 33], 44, 55)
print (tuple1)
tuple1[1][1] = 22
print (tuple1)

(11, [222, 33], 44, 55)
(11, [222, 22], 44, 55)

Add two tuples, remove the last member
from the first tuple, line up the tuple, count
how many instances of each value exists in
the tuple, find the largest value

Tuple has only two methods for him:
tuple_variable.count (return_value) - returns the number of times
a value was found
tuple_variable.index (return_value) - returns the index of the first
desired_value found
However, all methods for sequence data types are valid and
tuple

In [26]:
# Add two tuples
tuple1 = (11, 44, 55)
tuple2 = (101, 102, 103, 99)
tuple3 = tuple1 + tuple2
print (tuple3)

(11, 44, 55, 101, 102, 103, 99)

In [27]:
# remove the last member from the first tuple
# tuple1 = (11, [222, 33], 44, 55)
print(tuple1)
tmp_list2 = list(tuple1)
print(tmp_list2)
tmp_list2.pop(-1)
#tmp_list2 = tmp_list2.pop(-1)
# print(tmp_list2)
tuple1 = tuple(tmp_list2)
print(tuple1)

(11, 44, 55)
[11, 44, 55]
(11, 44)

                    ## dont know how

In [30]:
# #line up the tuple
# print(tuple3)
# tmp_list3 = list(tuple3)
# print(tmp_list3)
# tmp_list3.sort #doesnt work
# print(tmp_list3)

In [32]:
#count how many instances of each value exists in the tuple
print(tuple3)
# print(tuple3.count(11))
# print(tuple3[1].count(222))
# print(tuple3[1].count(33))
# print(tuple3.count(44))
# print(tuple3.count(55))
# print(tuple3.count(101))
# print(tuple3.count(102))
# print(tuple3.count(103))
# print(tuple3.count(99))
for number in tuple3:
    print(f'number {number} repeats {tuple3.count(number)} time')

(11, 44, 55, 101, 102, 103, 99)
number 11 repeats 1 time
number 44 repeats 1 time
number 55 repeats 1 time
number 101 repeats 1 time
number 102 repeats 1 time
number 103 repeats 1 time
number 99 repeats 1 time

In [38]:
#find the largest value
print(tuple1)
print(tuple2)
print(tuple3)
# print(max(tuple1[1]))
# print(max(tuple2))
max(tuple3)
print (f'max value in the tuple {max(tuple3) }')

(11, 44)
(101, 102, 103, 99)
(11, 44, 55, 101, 102, 103, 99)
max value in the tuple 103

In [39]:
# 2nd way
tmp_list = list (tuple3)
tmp_list.sort(reverse=True)
print (tmp_list)
print (f'max value in tuple {tmp_list[0] }')

[103, 102, 101, 99, 55, 44, 11]
max value in tuple 103

## For loop tasks

for loop
1. Print the first 10
inclusive numbers
using for loop
2. Get the sum of the
first 50 numbers
inclusive

In [242]:
for i in range (1,11):
    print (f'the number is {i}')
print ('the end')

the number is 1
the number is 2
the number is 3
the number is 4
the number is 5
the number is 6
the number is 7
the number is 8
the number is 9
the number is 10
the end

In [46]:
my_sum = 0
for i in range(1,51):
    my_sum += i
    #print(my_sum)
print (f'the sum is {my_sum}')

the sum is 1275

input
1. Use Input() to select a
number, print its product
from 1 to 10 inclusive

In [ ]:
user_input = input('Enter a number:')
user_number = int(user_input)
for i in range(1,11):
    print (f'number {user_number} multiplied by {i} is equal to {user_number * i}')

In [ ]:
# print ("Enter a number")
# number = input(int)
# interval = range(0,11)
# print (number)

In [49]:
# print ("Enter a number")
# txt = input
# nr = range(0,10)
# for nr in txt:
#     if nr <=10:
#         print (f'Number is {txt}')
# print ('end')

Get all possible
combinations from these
lists, add them to a
single list
1. days = (‘Monday’, ‘Tuesday’, ‘Wednesday’, ‘Thursday’, ‘Friday’, ‘Saturday’ , ‘Sunday’)
hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [355]:
days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' , 'Sunday') #tuple
hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19] #list

#1st step
for day in days: 
    print(day)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [234]:
#2nd step
for day in days: 
    print(day)
    for hour in hours:
        print (hour)
    print ('Checking next day')

Monday
10
11
12
13
14
15
16
17
18
19
Checking next day
Tuesday
10
11
12
13
14
15
16
17
18
19
Checking next day
Wednesday
10
11
12
13
14
15
16
17
18
19
Checking next day
Thursday
10
11
12
13
14
15
16
17
18
19
Checking next day
Friday
10
11
12
13
14
15
16
17
18
19
Checking next day
Saturday
10
11
12
13
14
15
16
17
18
19
Checking next day
Sunday
10
11
12
13
14
15
16
17
18
19
Checking next day

In [235]:
# Final
combinations = [] #list to have all in one place. its empty
for day in days: 
    #print(day)
    for hour in hours:
        #print (hour)
        combinations.append( (day,hour) ) 
    #print ('Checking next day')

print (combinations)

[('Monday', 10), ('Monday', 11), ('Monday', 12), ('Monday', 13), ('Monday', 14), ('Monday', 15), ('Monday', 16), ('Monday', 17), ('Monday', 18), ('Monday', 19), ('Tuesday', 10), ('Tuesday', 11), ('Tuesday', 12), ('Tuesday', 13), ('Tuesday', 14), ('Tuesday', 15), ('Tuesday', 16), ('Tuesday', 17), ('Tuesday', 18), ('Tuesday', 19), ('Wednesday', 10), ('Wednesday', 11), ('Wednesday', 12), ('Wednesday', 13), ('Wednesday', 14), ('Wednesday', 15), ('Wednesday', 16), ('Wednesday', 17), ('Wednesday', 18), ('Wednesday', 19), ('Thursday', 10), ('Thursday', 11), ('Thursday', 12), ('Thursday', 13), ('Thursday', 14), ('Thursday', 15), ('Thursday', 16), ('Thursday', 17), ('Thursday', 18), ('Thursday', 19), ('Friday', 10), ('Friday', 11), ('Friday', 12), ('Friday', 13), ('Friday', 14), ('Friday', 15), ('Friday', 16), ('Friday', 17), ('Friday', 18), ('Friday', 19), ('Saturday', 10), ('Saturday', 11), ('Saturday', 12), ('Saturday', 13), ('Saturday', 14), ('Saturday', 15), ('Saturday', 16), ('Saturday', 17), ('Saturday', 18), ('Saturday', 19), ('Sunday', 10), ('Sunday', 11), ('Sunday', 12), ('Sunday', 13), ('Sunday', 14), ('Sunday', 15), ('Sunday', 16), ('Sunday', 17), ('Sunday', 18), ('Sunday', 19)]

In [236]:
# changed just a little bit to explain append
combinations = [] 
for day in days: 
    #print(day)
    for hour in hours:
        #print (hour)
        combination = (day,hour) 
        combinations.append( combination ) #need this. but cant get 2 values in append so create this ^

print (combinations)

[('Monday', 10), ('Monday', 11), ('Monday', 12), ('Monday', 13), ('Monday', 14), ('Monday', 15), ('Monday', 16), ('Monday', 17), ('Monday', 18), ('Monday', 19), ('Tuesday', 10), ('Tuesday', 11), ('Tuesday', 12), ('Tuesday', 13), ('Tuesday', 14), ('Tuesday', 15), ('Tuesday', 16), ('Tuesday', 17), ('Tuesday', 18), ('Tuesday', 19), ('Wednesday', 10), ('Wednesday', 11), ('Wednesday', 12), ('Wednesday', 13), ('Wednesday', 14), ('Wednesday', 15), ('Wednesday', 16), ('Wednesday', 17), ('Wednesday', 18), ('Wednesday', 19), ('Thursday', 10), ('Thursday', 11), ('Thursday', 12), ('Thursday', 13), ('Thursday', 14), ('Thursday', 15), ('Thursday', 16), ('Thursday', 17), ('Thursday', 18), ('Thursday', 19), ('Friday', 10), ('Friday', 11), ('Friday', 12), ('Friday', 13), ('Friday', 14), ('Friday', 15), ('Friday', 16), ('Friday', 17), ('Friday', 18), ('Friday', 19), ('Saturday', 10), ('Saturday', 11), ('Saturday', 12), ('Saturday', 13), ('Saturday', 14), ('Saturday', 15), ('Saturday', 16), ('Saturday', 17), ('Saturday', 18), ('Saturday', 19), ('Sunday', 10), ('Sunday', 11), ('Sunday', 12), ('Sunday', 13), ('Sunday', 14), ('Sunday', 15), ('Sunday', 16), ('Sunday', 17), ('Sunday', 18), ('Sunday', 19)]

anything

123
<class 'str'>
<class 'int'>