## String tasks

In [1]:
# 1. Print name and surname
my_name = 'Ruta'
my_surname = "Spaicyte"
print(my_name, my_surname)

Ruta Spaicyte

In [2]:
#2.1 From the string ‘Python makes me really really happy!’ Display the string in uppercase only
My_string = 'Python makes me really really happy!'
print(My_string)
print(My_string.upper())
print(My_string)

Python makes me really really happy!
PYTHON MAKES ME REALLY REALLY HAPPY!
Python makes me really really happy!

In [8]:
#2.2 Replace Python with PyThOn using replace()
print(My_string.replace('t','T').replace('o','O')) #replaces all t and o
print(My_string.replace('Python', 'PyThOn') )

PyThOn makes me really really happy!
PyThOn makes me really really happy!

In [26]:
#From the string ‘Hello World, I am happy to learn Python!’
#3.1 1. Print ‘happy’ using slice syntax str [0:10].index (‘happy’) len (‘happy’)
my_string2 = "Hello World, I am happy to learn Python!"
print(my_string2)
#print(my_string2[18:23])
word_to_find = 'happy'
print(my_string2.index(word_to_find))
# print(my_string2[my_string2.index(word_to_find):])
print(my_string2[my_string2.index(word_to_find):my_string2.
                            index(word_to_find)+len(word_to_find)])

Hello World, I am happy to learn Python!
18
happy

            ## Don't get this ^^

In [24]:
#3.2 Print ‘to’ using slice syntax
print (my_string2.find('to'))
print(my_string2[24:26])
#3.3 What is the length of this string?
print(len(my_string2))

24
to
40

## From lesson 3

## Int, float tasks

Declare two int variables
of type
1. Calculate the sum of
two int, the
difference, the
product, the
remainder, divide
one number by
another

In [34]:
my_int1 = 12
my_int2 = 7
print(f'sum: {my_int1 + my_int2}')
print(f'substract: {my_int1 - my_int2}')
print(f'multiply: {my_int1 * my_int2}')
print(f'divide: {my_int1 / my_int2}')
print(f'power of: {my_int1 ** my_int2}')
print(f'modulus: {my_int1 % my_int2}')

sum: 19
substract: 5
multiply: 84
divide: 1.7142857142857142
power of: 35831808
modulus: 5

Declare two float-type
variables
1. Calculate the sum,
difference, product,
remainder of two
floats, divide by one
number from
another

In [35]:
my_float1 = 12.1234
my_float2 = 7.383
print(f'sum: {my_float1 + my_float2}')
print(f'substract: {my_float1 - my_float2}')
print(f'multiply: {my_float1 * my_float2}')
print(f'divide: {my_float1 / my_float2}')
print(f'power of: {my_float1 ** my_float2}')
print(f'modulus: {my_float1 % my_float2}')

sum: 19.5064
substract: 4.7404
multiply: 89.50706220000001
divide: 1.6420696193959095
power of: 100091961.48700161
modulus: 4.7404

Calculate
1. The distance to the Moon is about
384,000 km, and to the Sun
150,000,000, how many times the
distance to the Sun is greater than
to the Moon?

In [36]:
dist_moon = 384000
dist_sun = 150000000
print(dist_sun/dist_moon)

390.625

2. If we want to drive to the moon in a
car with a speed of 150km / h, how
many hours, years, months, days,
seconds would it take?

In [37]:
speed = 150
print (f'seconds to the moon {dist_moon/speed*3600}')
print (f'hours to the moon {dist_moon/speed}')
print (f'days to the moon {dist_moon/speed/24}')
print (f'months to the moon {dist_moon/speed/24/30}')
print (f'years to the moon {dist_moon/speed/24/30/12}')

seconds to the moon 9216000.0
hours to the moon 2560.0
days to the moon 106.66666666666667
months to the moon 3.555555555555556
years to the moon 0.29629629629629634

3. How many days have passed since
your birthday?

In [41]:
import datetime

print(datetime.datetime.now()) #how librarys work
my_birthday = datetime.date(1995,6,26)
datetime.datetime.now().date()-my_birthday #timedelta - time difference

2021-12-03 22:19:41.587849

datetime.timedelta(days=9657)

In [43]:
# import datetime - for current date
import datetime

print (datetime.datetime.now() )
my_birthday = datetime.date(1995,6,26)
datetime.datetime.now().date() - my_birthday

#how long it would take to reach the moon
delta = datetime.timedelta(seconds=dist_moon/speed*3600)
print (f'We would reach the moon on {datetime.datetime.now() + delta}')

2021-12-03 22:22:47.902038
We would reach the moon on 2022-03-20 14:22:47.919215

In [47]:
# import datetime - for current date
from datetime import datetime
from datetime import timedelta
from datetime import date # if i work just with date 

# datetime.date

print (datetime.now() )
my_birthday = date(1995,6,26)
datetime.now().date() - my_birthday

#how long it would take to reach the moon
delta = timedelta(seconds=dist_moon/speed*3600)
print (f'We would reach the moon on {datetime.now() + delta}')

2021-12-03 22:25:59.186380
We would reach the moon on 2022-03-20 14:25:59.188146